body {
    font-family: "Roboto", sans-serif;
}
.entranceToggle {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    color:  grey;
    display: inline-block;
    margin-right: 45px;
    margin-left: 45px;
}
.entranceToggle:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: white;
    border-width: 5px;
    color: white;
    transition: 250ms all;
    /*margin-right: 45px;*/
}
.entranceToggleContainer{
    width: 200px;
    height: 200px;
}
.entranceOrganizer{
    display: inline-flex;
    margin-top: 10%;
}
.entranceSponsorImgOrganizer{
    display: inline-flex;
    margin-top: 2%;
}
.entranceSponsorImg{
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
    vertical-align: top;
}
.entranceSponsorImg img{
    width: 150%;
    vertical-align: top;
}
.entrancePlatSponsorImgOrganizer{
    display: inline-flex;
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
.entrancePlatSponsorImg{
    display: inline-block;
    width: 50%;
}
.entrancePlatSponsorImg img{
    width: 100%;
}
/* ===== media query ===== */
@media only screen and (max-width: 400px){
    .entranceToggle {
        width: 120px;
        height: 120px;
        display: block;
        margin: 0 auto;
        margin-bottom: 50%;
    }
    .entranceToggleContainer{
        width: 120px;
        height: 120px;
    }
    .entranceOrganizer{
        display: inline-block;
        margin-top: 12%;
    }
    .entranceSponsorImg{
        display: block;
        margin-right: 0px;
        margin-left: 0px;
        vertical-align: middle;
    }
    .entranceSponsorImg img{
        width: 100%;
    }
    .entranceSponsorImgOrganizer{
        display: inline-block;
    }
    .entrancePlatSponsorImgOrganizer{
        display: inline-block;
    }
    .entrancePlatSponsorImg{
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 960px) and (min-width: 401px) {
    .entranceToggle {
        width: 120px;
        height: 120px;
        display: block;
        margin: 0 auto;
        margin-bottom: 50%;
    }
    .entranceToggleContainer{
        width: 120px;
        height: 120px;
    }
    .entranceOrganizer{
        display: inline-block;
        margin-top: 12%;
    }
    .entranceSponsorImg{
        display: block;
        margin-right: 0px;
        margin-left: 0px;
    }
    .entranceSponsorImg img{
        width: 100%;
    }
    .entranceSponsorImgOrganizer{
        display: inline-block;
    }
    .entrancePlatSponsorImgOrganizer{
        display: inline-block;

    }
    .entrancePlatSponsorImg{
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 961px) {
    .entranceToggle {
        margin-left: 20px;
        margin-right: 20px;
    }
    .entranceOrganizer{
        display: inline-flex;
    }

}
