<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IROS 2020 On-Demand : Sign-Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <script src="https://s3-us-west-2.amazonaws.com/ieeeshutpages/gdpr/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise(json)
        });
    </script>

    <style>
        body {
            background:#1F1F1F;
            font-family: "Source Sans Pro", sans-serif;
        }
        @media only screen and (max-width: 400px){
            h1{
                font-size: 15px;
            }
        }
        @media only screen and (max-width: 600px) and (min-width: 401px){
            h1{
                font-size: 15px;
            }
        }  
    </style>
</head>
<body>
<div style="text-align: center">
    <a href="/ondemand"><img src="{% static './resources/logo.png'%}" width="30%"></a>
</div>
<div style="text-align: center;padding-top: 5%; color: white">
{% block content %}
    <h1>The confirmation link was invalid, <br>possibly because it has already been used.
    <br><br>If you need this again, <br>
    Please reattempt sign-up to send the confirmation email again.</h1>
{% endblock %}
</div>
</body>
</html>