<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% include 'beta/session_security/all.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : My Lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <script src="https://s3-us-west-2.amazonaws.com/ieeeshutpages/gdpr/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise(json)
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8QZDWZH3X6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8QZDWZH3X6');
    </script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles1018.css' %}">

    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index_header1006.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mylistStyle1006.css' %}">

</head>
<body>
<div class="onDemandwidthControl">
    <nav style="background-color: rgba(0,0,0,0.7)" class="navbar navbar-expand-lg navbar-dark fixed-top">
        <!-- Brand/logo -->
        {% if showcontents == 3 %}
            <a class="navbar-brand" href="main?id=competition">
        {% elif showcontents == 2 %}
            <a class="navbar-brand" href="main?id=wstr">
        {% else %}
            <a class="navbar-brand" href="main?id=technicalpaper">
        {% endif %}
        <img src="{% static './resources/logo.png'%}" width="150px"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if showcontents == 3 %}
                        <a class="nav-link" href="main?id=competition" style="color:white; ">Home</a>
                    {% elif showcontents == 2 %}
                        <a class="nav-link" href="main?id=wstr" style="color:white; ">Home</a>
                    {% else %}
                        <a class="nav-link" href="main?id=technicalpaper" style="color:white; ">Home</a>
                    {% endif %}
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbardrop" data-toggle="dropdown">
                        Entrance
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="main?id=technicalpaper">Technical Talks</a>
                        <a class="dropdown-item" href="main?id=wstr">Workshops and Tutorials</a>
                        <a class="dropdown-item" href="main?id=competition">Robot Competition</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mylist?id={{ showcontents }}" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">My Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="color:white;">Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="placeyourads?id={{ showcontents }}"  onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">Place your Ad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="partners?id={{ showcontents }}" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about?id={{ showcontents }}" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faqhelp?id={{ showcontents }}" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">FAQ/Help</a>
                </li>
                <form class="form-inline navbar-right">
                    <input type="text" id="search_bar" value="" class="searchBar" onkeydown="if(event.keyCode === 13) {event.preventDefault(); document.getElementById('searchBtn').click()}"/>
                    <d onclick="if(search_bar.value.length > 0)search()">
                        <a id = "keywordDelivery" href="javascript: void(0)">
                            <i id="searchBtn" class="fa fa-search" style="color:white;margin-left: 100%;font-size: 18px"></i>
                        </a>
                    </d>
                </form>
            </ul>

        </div>
    </nav>

    <div style="width:95%; margin:0 auto; padding-top: 50px;" align="justify">
        <p>&nbsp;</p>
        <div style="padding-top: 10px" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            {#        <ol class="carousel-indicators ">#}
            {##}
            {#            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">#}
            {#            </li>#}
            {#            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
            {#            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
            {#        </ol>#}
            <div class="carousel-inner" >
                <div class="carousel-item active">
                    <div class="carousel-covers">
                        <div class="carousel-video" id="carousel-video-reader">
                            <video id="video1" loop playsinline autoplay controlsList="nodownload">
                            </video>
                        </div>
                        <div class="carousel-caption1">
                            <div class="carousel-pbox">
                                <span style="display: inline-block;vertical-align: middle;line-height: normal;">
                                <img id="psponsorImg1" width="100%">
                                <p class="carousel-p1">IROS Silver Partner</p>
                                <p class="carousel-p2" id="psponsorAbstract1"></p>
                                <p class="carousel-p3"><a target="_blank" id="psponsorLink1" style="color: coral"></a></p>
                                <div class="pltVolumeBtn">
                                    <button style="background-color: transparent;border: none; margin:0 auto; outline: none;color: red;" class="UnmuteBtn"  onclick="disbleMute('muteBtn1')" type="button">
                                        <i id="muteBtn1" class="fas fa-volume-up"></i>
                                    </button>
                                </div></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-covers">
                        <div class="carousel-video" id="carousel-video-reader">
                            <video id="video2" loop playsinline controlsList="nodownload">
                            </video>
                        </div>
                        <div class="carousel-caption1">
                            <div class="carousel-pbox">
                                <span>
                                <img id="psponsorImg2" width="100%">
                                <p class="carousel-p1">IROS Silver Partner</p>
                                <p class="carousel-p2" id="psponsorAbstract2"></p>
                                <p class="carousel-p3"><a target="_blank" style="color: coral;" id="psponsorLink2"></a></p>
                                <div class="pltVolumeBtn">
                                    <button style="background-color: transparent;border: none; margin:0 auto; outline: none;color: red;" class="UnmuteBtn" onclick="disbleMute('muteBtn2')" type="button">
                                        <i id="muteBtn2" class="fas fa-volume-up"></i>
                                    </button>
                                </div></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-covers">
                        <div class="carousel-video" id="carousel-video-reader">
                            <video id="video3" loop playsinline controlsList="nodownload">
                            </video>
                        </div>
                        <div class="carousel-caption1">
                            <div class="carousel-pbox">
                                <span>
                                <img id="psponsorImg3" width="100%">
                                <p class="carousel-p1">IROS Silver Partner</p>
                                <p class="carousel-p2" id="psponsorAbstract3"></p>
                                <p class="carousel-p3"><a target="_blank" style="color: coral;" id="psponsorLink3"></a></p>
                                <div class="pltVolumeBtn">
                                    <button style="background-color: transparent;border: none; margin:0 auto; outline: none;color: red;" class="UnmuteBtn"  onclick="disbleMute('muteBtn3')" type="button">
                                        <i id="muteBtn3" class="fas fa-volume-up"></i>
                                    </button>
                                </div></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-covers">
                        <div class="carousel-video" id="carousel-video-reader">
                            <video id="video4" loop playsinline controlsList="nodownload">
                            </video>
                        </div>
                        <div class="carousel-caption1">
                            <div class="carousel-pbox">
                                <span>
                                <img id="psponsorImg4" width="100%">
                                <p class="carousel-p1">IROS Silver Partner</p>
                                <p class="carousel-p2" id="psponsorAbstract4"></p>
                                <p class="carousel-p3"><a target="_blank" style="color: coral;" id="psponsorLink4"></a></p>
                                <div class="pltVolumeBtn">
                                    <button style="background-color: transparent;border: none; margin:0 auto; outline: none;color: red;" class="UnmuteBtn"  onclick="disbleMute('muteBtn4')" type="button">
                                        <i id="muteBtn4" class="fas fa-volume-up"></i>
                                    </button>
                                </div></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span> </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span> </a>
        </div>
        {% if mylistSpecialNumber == 0 and  mylistWorkshopsNumber == 0 and mylistEpisodeNumber == 0 %}
            <h3 class="pavtitle">&nbsp;&nbsp;My Lists is empty</h3>
        {% else %}
        {% endif %}
        {% if mylistSpecialNumber == 0 %}
        {% else %}
            <h3>&nbsp;&nbsp;My Lists : IROS Specials</h3>
            <div class="mylistMainDiv">
                {% for mylistSpecialSpeaker, mylistSpecialSpecial, mylistSpecialNumber, mylistSpecialTitle in mylistSpecialContext %}
                    <div class="mylistBlock">
                        <a href="specialsepisode?id={{mylistSpecialNumber|floatformat:"0"}}&id2={{mylistSpecialSpecial}}" onClick="this.href=this.href+'&'+new Date().getTime()">
                            <img  width="100%" onError="this.onerror=null;this.src='{% static './resources/logo2.png' %}';" src="{% static 'img'%}/Specials/{{mylistSpecialSpecial}}/{{ mylistSpecialSpeaker }}.png">
                            <div class="mylistBlockCaption">
                                <p>{{ mylistSpecialSpecial}} : {{ mylistSpecialSpeaker }}</p>
                            </div></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if mylistWorkshopsNumber == 0 %}
        {% else %}
            <h3>&nbsp;&nbsp;My Lists : Workshops and Tutorials</h3>
            <div class="mylistMainDiv">
                {% for mylistWorkshopsNr, mylistWorkshopsTalkNr,mylistWorkshopsTitle in mylistWorkshopsContext %}
                    <div class="mylistBlock">
                        <a href="workshopsepisode?id={{mylistWorkshopsTalkNr}}&id2={{mylistWorkshopsNr}}" onClick="this.href=this.href+'&'+new Date().getTime()">
                            <img src="{% static './resources/playlogo.png'%}" width="100%">
                            <div class="mylistBlockCaption">
                                <p>{{ mylistWorkshopsTitle }}</p>
                            </div></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if mylistEpisodeNumber == 0 %}
        {% else %}
            <h3>&nbsp;&nbsp;My Lists : Technical Talks</h3>
            <div class="mylistMainDiv">
                {% for mylistEpisodeTitle, mylistEpisodeSession,mylistEpisodeNumber in mylistEpisodeContext %}
                    <div class="mylistBlock">
                        <a href="episode?id={{mylistEpisodeNumber|floatformat:"0"}}&id2={{ mylistEpisodeSession }}" onClick="this.href=this.href+'&'+new Date().getTime()">
                            {% if mylistEpisodeNumber < 100 %}
                                <img width="100%" id="paperHighlight" onError="this.onerror=null;this.src='{% static './resources/playlogo.png' %}';" src="{% static './img/IROS20_Digest' %}/00{{ mylistEpisodeNumber|floatformat:"0" }}_PPT.JPG">
                            {% elif mylistEpisodeNumber >= 100 and mylistEpisodeNumber < 1000 %}
                                <img width="100%" id="paperHighlight" onError="this.onerror=null;this.src='{% static './resources/playlogo.png' %}';" src="{% static './img/IROS20_Digest' %}/0{{ mylistEpisodeNumber|floatformat:"0" }}_PPT.JPG">
                            {% elif mylistEpisodeNumber >= 1000 %}
                                <img width="100%" id="paperHighlight" onError="this.onerror=null;this.src='{% static './resources/playlogo.png' %}';" src="{% static './img/IROS20_Digest' %}/{{ mylistEpisodeNumber|floatformat:"0" }}_PPT.JPG">
                            {% endif %}
                            <div class="mylistBlockCaption">
                                <p>{{ mylistEpisodeTitle }}</p>
                            </div></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>

    <script src="{% static 'package/js/swiper.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script>
        function search(){
            const query = document.getElementById("search_bar").value;
            document.getElementById("keywordDelivery").href = "searchresult?id2={{ showcontents }}&id="+query;
        }
    </script>
    <script>
        $(document).ready(function() {
            $('#carouselExampleIndicators').carousel({
                interval:10000,
            }).on('slide.bs.carousel', function (args){
                var videoList = document.getElementsByTagName("video");
                videoList[args.from].pause();
                videoList[args.to].play();
            })
        });
    </script>

    <script>

        videoList = [];
        imgList = [];
        abstractList = [];
        htmlList = [];
        htmlwordList = [];
        {% for partnersName,partnersWebpage,partnersAbstract,partnersVideo in silverPartnersZip %}
            videoList.push("{% static 'video/Silver' %}/{{ partnersVideo }}");
            imgList.push("{% static 'img/Partners/Silver'%}/{{partnersName }}.png");
            abstractList.push("{{ partnersAbstract }}");
            htmlList.push("{{partnersWebpage }}");
            {% if partnersName != 'Robotis' %}
                htmlwordList.push("Click for more information");
            {% else %}
                htmlwordList.push("\"Interested? Learn more HERE\"");
            {% endif %}
        {% endfor %}


        {#videoList.push("{% static 'video/Silver/Intuitive'%}");#}
        {#videoList.push("{% static 'video/Silver/Robotis'%}");#}
        {#videoList.push("{% static 'video/Silver/UMN'%}");#}
        {##}
        {#imgList.push("{% static 'img/Partners/Silver/Intuitive.png'%}");#}
        {#imgList.push("{% static 'img/Partners/Silver/Robotis.png'%}");#}
        {#imgList.push("{% static 'img/Partners/Silver/UMN.png'%}");#}
        {##}
        {#abstractList.push("Intuitive, maker of the da Vinci surgical system and Ion endoluminal system, was founded with " +#}
        {#    "a simple belief: Medical intervention should help people recover as quickly and completely as possible");#}
        {#abstractList.push("ROBOTIS is a global robot solutions provider and one of the leading manufacturers of robotic hardware. " +#}
        {#    "ROBOTIS is the exclusive producer of the DYNAMIXEL brand of all-in-one smart servos.");#}
        {#abstractList.push("MnRI puts students first, with over 50% of Master's in Robotics students receiving " +#}
        {#    "financial support for a world-class robotics education. Apply for Spring 2021 at the link below");#}
        {#htmlwordList = [];#}
        {#htmlwordList.push("Click for more information");#}
        {#htmlwordList.push("\"Interested? Learn more HERE\"");#}
        {#htmlwordList.push("Click for more information");#}



        videoMap = new Map();
        videoMap.set(videoList[0], htmlList[0]);
        videoMap.set(videoList[1], htmlList[1]);
        videoMap.set(videoList[2], htmlList[2]);
        videoMap.set(videoList[3], htmlList[3]);


        imgMap = new Map();
        imgMap.set(videoList[0],imgList[0]);
        imgMap.set(videoList[1],imgList[1]);
        imgMap.set(videoList[2],imgList[2]);
        imgMap.set(videoList[3],imgList[3]);


        abstractMap = new Map();
        abstractMap.set(videoList[0],abstractList[0]);
        abstractMap.set(videoList[1],abstractList[1]);
        abstractMap.set(videoList[2],abstractList[2]);
        abstractMap.set(videoList[3],abstractList[3]);


        htmlwordMap = new Map();
        htmlwordMap.set(videoList[0],htmlwordList[0]);
        htmlwordMap.set(videoList[1],htmlwordList[1]);
        htmlwordMap.set(videoList[2],htmlwordList[2]);
        htmlwordMap.set(videoList[3],htmlwordList[3]);


        maxIndex = videoList.length - 1;


        for(i = 0; i < maxIndex; i++){
            randomIndex = Math.floor(Math.random() * (maxIndex - i + 1)) + i;

            if(randomIndex !== i){
                temp = videoList[i];
                videoList[i] = videoList[randomIndex];
                videoList[randomIndex] = temp;
            }
        }

        document.getElementById('video1').setAttribute('src', videoList[0]+'.mp4');
        document.getElementById('video1').load();
        document.getElementById('psponsorLink1').innerHTML = htmlwordMap.get(videoList[0]);
        document.getElementById('psponsorLink1').href = videoMap.get(videoList[0]);
        document.getElementById('psponsorImg1').src = imgMap.get(videoList[0]);
        document.getElementById('psponsorAbstract1').innerHTML = abstractMap.get(videoList[0]);

        document.getElementById('video2').setAttribute('src', videoList[1]+'.mp4');
        document.getElementById('video2').load();
        document.getElementById('psponsorLink2').innerHTML = htmlwordMap.get(videoList[1]);
        document.getElementById('psponsorLink2').href = videoMap.get(videoList[1]);
        document.getElementById('psponsorImg2').src = imgMap.get(videoList[1]);
        document.getElementById('psponsorAbstract2').innerHTML = abstractMap.get(videoList[1]);

        document.getElementById('video3').setAttribute('src', videoList[2]+'.mp4');
        document.getElementById('video3').load();
        document.getElementById('psponsorLink3').innerHTML = htmlwordMap.get(videoList[2]);
        document.getElementById('psponsorLink3').href = videoMap.get(videoList[2]);
        document.getElementById('psponsorImg3').src = imgMap.get(videoList[2]);
        document.getElementById('psponsorAbstract3').innerHTML = abstractMap.get(videoList[2])

        document.getElementById('video4').setAttribute('src', videoList[3]+'.mp4');
        document.getElementById('video4').load();
        document.getElementById('psponsorLink4').innerHTML = "Click for more information";
        document.getElementById('psponsorLink4').href = videoMap.get(videoList[3]);
        document.getElementById('psponsorImg4').src = imgMap.get(videoList[3]);
        document.getElementById('psponsorAbstract4').innerHTML = abstractMap.get(videoList[3]);

    </script>
    <script>
        function disbleMute(mutebtn) {
            {#var vid = document.getElementById(video);#}
            var mutebuttonClass = document.getElementById(mutebtn).className;
            var mutebuttonClass1 = document.getElementById('muteBtn1').className;
            var mutebuttonClass2 = document.getElementById('muteBtn2').className;
            var mutebuttonClass3 = document.getElementById('muteBtn3').className;
            var mutebuttonClass4 = document.getElementById('muteBtn4').className;
            var vid1 = document.getElementById('video1')
            var vid2 = document.getElementById('video2')
            var vid3 = document.getElementById('video3')
            var vid4 = document.getElementById('video4')
            if(mutebuttonClass == 'fas fa-volume-up'){
                $('#muteBtn1').removeClass(mutebuttonClass1);
                $('#muteBtn1').addClass('fas fa-volume-mute');
                $('#muteBtn2').removeClass(mutebuttonClass2);
                $('#muteBtn2').addClass('fas fa-volume-mute');
                $('#muteBtn3').removeClass(mutebuttonClass3);
                $('#muteBtn3').addClass('fas fa-volume-mute');
                $('#muteBtn4').removeClass(mutebuttonClass4);
                $('#muteBtn4').addClass('fas fa-volume-mute');
                vid1.muted=true;
                vid2.muted=true;
                vid3.muted=true;
                vid4.muted=true;
            }else{
                $('#muteBtn1').removeClass(mutebuttonClass1);
                $('#muteBtn1').addClass('fas fa-volume-up');
                $('#muteBtn2').removeClass(mutebuttonClass2);
                $('#muteBtn2').addClass('fas fa-volume-up');
                $('#muteBtn3').removeClass(mutebuttonClass3);
                $('#muteBtn3').addClass('fas fa-volume-up');
                $('#muteBtn4').removeClass(mutebuttonClass4);
                $('#muteBtn4').addClass('fas fa-volume-up');
                vid1.muted=false;
                vid2.muted=false;
                vid3.muted=false;
                vid4.muted=false;
            }
        }
    </script>
    <script>
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
            document.write("mobile");
            var mutebuttonClass1 = document.getElementById('muteBtn1').className;
            var mutebuttonClass2 = document.getElementById('muteBtn2').className;
            var mutebuttonClass3 = document.getElementById('muteBtn3').className;
            var mutebuttonClass4 = document.getElementById('muteBtn4').className;
            var vid1 = document.getElementById('video1')
            var vid2 = document.getElementById('video2')
            var vid3 = document.getElementById('video3')
            var vid4 = document.getElementById('video4')
            $('#muteBtn1').removeClass(mutebuttonClass1);
            $('#muteBtn1').addClass('fas fa-volume-mute');
            $('#muteBtn2').removeClass(mutebuttonClass2);
            $('#muteBtn2').addClass('fas fa-volume-mute');
            $('#muteBtn3').removeClass(mutebuttonClass3);
            $('#muteBtn3').addClass('fas fa-volume-mute');
            $('#muteBtn4').removeClass(mutebuttonClass4);
            $('#muteBtn4').addClass('fas fa-volume-mute');
            vid1.muted=true;
            vid2.muted=true;
            vid3.muted=true;
            vid4.muted=true;
        }else{
            document.write("not mobile");
        }
    </script>
    {#    <script>#}
    {#        var v = document.getElementById("video1");#}
    {#        var width,height;#}
    {#        var partnerCaption = document.getElementsByClassName("carousel-caption1");#}
    {#        v.addEventListener( "loadedmetadata", function (e) {#}
    {#            var result = $("#video1").css('height');#}
    {#            console.log(result);#}
    {#            for(var i=0; i < partnerCaption.length; i++) {#}
    {#                partnerCaption[i].style.height = result;#}
    {#            }#}
    {#        }, false );#}
    {#    </script>#}
    <script>
        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted ||
                ( typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
                console.log('save my ass')
            }
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#video1').bind('contextmenu',function() { return false; });
            $('#video2').bind('contextmenu',function() { return false; });
            $('#video3').bind('contextmenu',function() { return false; });
            $('#video4').bind('contextmenu',function() { return false; });
        });
    </script>
    <script>
        var sBrowser, sUsrAg = navigator.userAgent;

        if (sUsrAg.indexOf("Firefox") > -1) {
            var mutebuttonClass1 = document.getElementById('muteBtn1').className;
            var mutebuttonClass2 = document.getElementById('muteBtn2').className;
            var mutebuttonClass3 = document.getElementById('muteBtn3').className;
            var mutebuttonClass4 = document.getElementById('muteBtn4').className;
            var vid1 = document.getElementById('video1')
            var vid2 = document.getElementById('video2')
            var vid3 = document.getElementById('video3')
            var vid4 = document.getElementById('video4')
            $('#muteBtn1').removeClass(mutebuttonClass1);
            $('#muteBtn1').addClass('fas fa-volume-mute');
            $('#muteBtn2').removeClass(mutebuttonClass2);
            $('#muteBtn2').addClass('fas fa-volume-mute');
            $('#muteBtn3').removeClass(mutebuttonClass3);
            $('#muteBtn3').addClass('fas fa-volume-mute');
            $('#muteBtn4').removeClass(mutebuttonClass4);
            $('#muteBtn4').addClass('fas fa-volume-mute');
            vid1.muted=true;
            vid2.muted=true;
            vid3.muted=true;
            vid4.muted=true;
        }
    </script>
    <script>
        function hitCounter(titleNumber){
            var current = Date.now();
            var targettime = current + 2000;
            {#console.log(titleNumber);#}
            var timer = setInterval(function () {
                var now = Date.now();
                if(targettime <= now) {
                    var mainHitcount = document.getElementById("mainHitCount");
                    $.ajax({
                        url: 'post_hitcount',
                        type: 'POST',
                        data: {'paperNumber': titleNumber},
                        dataType: 'json',
                        success: function (json) {
                            {#alert("Title Hit Success");#}
                            clearInterval(timer);
                            {#mainHitcount.innerHTML = json['hitCount'] + ' views';#}
                        },
                        error: function (err) {
                            {#alert("Failed to Retrieve JSON file from Server");#}
                        }
                    });
                }
            },2500);
        }
        hitCounter({{ partnerVideoNumber}})
    </script>
</div>
</body>
</html>
