<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index_land.css'%}" />
    <link rel="stylesheet" href="{% static 'css/index_header.css'%}" />
</head>
<body>
<div style="width:1020pt; margin:0 auto;" align="justify">

    <header>
        <div class="logo">
            <a href="./">
                <img src="{% static './resources/logo.png'%}"/>
            </a>
            <button class="header-toggleBtn"><i class="fa fa-bars"></i></button>
        </div>

        <ul class="categories">
            <a href="./" style="color:white; text-decoration: none;">
                <li class="category category1">Home</li></a>
            <li class="category category2">My Lists</li>
            <li class="category category3">Recently Added</li>
        </ul>

        <ul class="search_notice_info">
            <li class="notice1"><i class="fas fa-gift"></i></li>
            <li class="notice2"><i class="fas fa-bell"></i></li>
            <li class="info"><i class="fas fa-user"></i></li>
        </ul>
    </header>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Pavilion.0}}</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for j in Aerial %}
                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.0 }}&id3={{ Pavilion.index.0 }}" style="color:white; text-decoration: none;">{{ j }}<img src="{% static 'img'%}/pavilion{{ Pavilion.index.0|add:1 }}/{{ j }}.jpg">
                        {#                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.0 }}">{{ j }}<img src="{% static './resources/logo.png'%}">#}

                    </a></img>
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3 style="color: blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.1}}</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for j in Humanoid %}
                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.1 }}&id3={{ Pavilion.index.1 }}" style="color:white; text-decoration: none;">{{ j }}<img src="{% static 'img'%}/pavilion{{ Pavilion.index.1|add:1 }}/{{ j }}.jpg">
                        {#                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.1 }}">{{ j }}<img src="{% static './resources/logo.png'%}">#}

                    </a></img>
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3 style="color: green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.2}}</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for j in Medical %}
                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.2 }}&id3={{ Pavilion.index.2 }}" style="color:white; text-decoration: none;">{{ j }}<img src="{% static 'img'%}/pavilion{{ Pavilion.index.2|add:1 }}/{{ j }}.jpg">
                        {#                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.2 }}&id3=3">{{ j }}<img src="{% static './resources/logo.png'%}">#}

                    </a></img>
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3 style="color: rosybrown">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.3}}</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for j in Driverless %}
                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.3 }}&id3={{ Pavilion.index.3 }}" style="color:white; text-decoration: none;">{{ j }}<img src="{% static 'img'%}/pavilion{{ Pavilion.index.3|add:1 }}/{{ j }}.jpg">
                        {#                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.3 }}&id3=4">{{ j }}<img src="{% static './resources/logo.png'%}">#}

                    </a></img>
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3 style="color: orange">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.4}}</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for j in EndEffector %}
                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.4 }}&id3={{ Pavilion.index.4 }}" style="color:white; text-decoration: none;">{{ j }}<img src="{% static 'img'%}/pavilion{{ Pavilion.index.4|add:1 }}/{{ j }}.jpg">
                        {#                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.4 }}&id3=5">{{ j }}<img src="{% static './resources/logo.png'%}">#}

                    </a></img>
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.5}}</h3>
        <div class="swiper-container">
            {#        <div class="swiper-wrapper">#}
            {#            {% for j in Aerial %}#}
            {#        <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.5 }}">{{ j }}<img src="{% static 'img'%}/pavilion6/{{ forloop.counter0 }}.jpg">#}
            {#                <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.0 }}">{{ j }}<img src="{% static './resources/logo.png'%}">#}
            {##}
            {#                </a></img>#}
            {#                </div>#}
            {#            {% endfor %}#}
            {#        </div>#}
            {#        <!-- Add Pagination -->#}
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.6}}</h3>
        <div class="swiper-container">
            {#        <div class="swiper-wrapper">#}
            {#            {% for j in Aerial %}#}
            {#        <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.6 }}">{{ j }}<img src="{% static 'img'%}/pavilion7/{{ forloop.counter0 }}.jpg">#}
            {#                <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.0 }}">{{ j }}<img src="{% static './resources/logo.png'%}">#}
            {##}
            {#                </a></img>#}
            {#                </div>#}
            {#            {% endfor %}#}
            {#        </div>#}
            {#        <!-- Add Pagination -->#}
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.7}}</h3>
        <div class="swiper-container">
            {#        <div class="swiper-wrapper">#}
            {#            {% for j in Aerial %}#}
            {#        <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.7 }}">{{ j }}<img src="{% static 'img'%}/pavilion8/{{ forloop.counter0 }}.jpg">#}
            {#                <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.0 }}">{{ j }}<img src="{% static './resources/logo.png'%}">#}
            {##}
            {#                </a></img>#}
            {#                </div>#}
            {#            {% endfor %}#}
            {#        </div>#}
            {#        <!-- Add Pagination -->#}
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.8}}</h3>
        <div class="swiper-container">
            {#        <div class="swiper-wrapper">#}
            {#            {% for j in Aerial %}#}
            {#        <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.8 }}">{{ j }}<img src="{% static 'img'%}/pavilion9/{{ forloop.counter0 }}.jpg">#}
            {#                <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.0 }}">{{ j }}<img src="{% static './resources/logo.png'%}">#}
            {##}
            {#                </a></img>#}
            {#                </div>#}
            {#            {% endfor %}#}
            {#        </div>#}
            {#        <!-- Add Pagination -->#}
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.9}}</h3>
        <div class="swiper-container">
            {#        <div class="swiper-wrapper">#}
            {#            {% for j in Aerial %}#}
            {#        <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.9 }}">{{ j }}<img src="{% static 'img'%}/pavilion10/{{ forloop.counter0 }}.jpg">#}
            {#                <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.0 }}">{{ j }}<img src="{% static './resources/logo.png'%}">#}
            {##}
            {#                </a></img>#}
            {#                </div>#}
            {#            {% endfor %}#}
            {#        </div>#}
            {#        <!-- Add Pagination -->#}
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.10}}</h3>
        <div class="swiper-container">
            {#        <div class="swiper-wrapper">#}
            {#            {% for j in Aerial %}#}
            {#        <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.10 }}">{{ j }}<img src="{% static 'img'%}/pavilion11/{{ forloop.counter0 }}.jpg">#}
            {#                <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.0 }}">{{ j }}<img src="{% static './resources/logo.png'%}">#}
            {##}
            {#                </a></img>#}
            {#                </div>#}
            {#            {% endfor %}#}
            {#        </div>#}
            {#        <!-- Add Pagination -->#}
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.11}}</h3>
        <div class="swiper-container">
            {#        <div class="swiper-wrapper">#}
            {#            {% for j in Aerial %}#}
            {#        <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.11 }}">{{ j }}<img src="{% static 'img'%}/pavilion12/{{ forloop.counter0 }}.jpg">#}
            {#                <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion.0 }}">{{ j }}<img src="{% static './resources/logo.png'%}">#}
            {##}
            {#                </a></img>#}
            {#                </div>#}
            {#            {% endfor %}#}
            {#        </div>#}
            {#        <!-- Add Pagination -->#}
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>


    <script src="{% static 'js/index_header.js' %}"></script>
    <script src="{% static 'package/js/swiper.min.js' %}"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 5,
            spaceBetween: 10,
            slidesPerGroup: 2,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</div>
</body>
</html>
