<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : Sessions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index_land.css'%}" />
    <link rel="stylesheet" href="{% static 'css/index_header.css'%}" />
</head>
<body>
<div style="width:1020pt; margin:0 auto;" align="justify">

    <header>
        <div class="logo">
            <a href="./">
                <img src="{% static './resources/logo.png'%}"/>
            </a>
            <button class="header-toggleBtn"><i class="fa fa-bars"></i></button>
        </div>

        <ul class="categories">
            <a href="./" style="color:white; text-decoration:none;">
                <li class="category category1">Home</li></a>
            <li class="category category2">My Lists</li>
            <li class="category category3">Recently Added</li>
        </ul>

        <ul class="search_notice_info">
            <li class="notice1"><i class="fas fa-gift"></i></li>
            <li class="notice2"><i class="fas fa-bell"></i></li>
            <li class="info"><i class="fas fa-user"></i></li>
        </ul>
    </header>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pavilion : {{Pavilion}}</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for j in SessionList %}
                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion }}&id3={{PavilionNum}}" style="color:white; text-decoration: none;">{{ j }}<img src="{% static 'img'%}/pavilion{{ PavilionNum|add:1 }}/{{ j }}.jpg">
                    </a></img>
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <p>&nbsp;</p>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Session Episode</h3>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false" data-pause="hover">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            {% for i in EpisodeCount %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{i}}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {#        <div class="carousel-item active"><img class="d-block w-50" src="{% static 'img'%}/{{Pavilion}}/0.jpg">#}
            <div class="carousel-item active"><img class="d-block w-50" src="{% static './resources/logo.png'%}">

                <div class="imgtext">
                    <p style="color: white;">&nbsp;&nbsp;&nbsp;Welcome to Session :</p>
                    <p style="color: white;">&nbsp;&nbsp;&nbsp; {{ Session }}</p>
                </div>
                <div class="carousel-caption">
                    <p style="font-size: 15pt">Welcome to Session :</p>
                    <p style="font-size: 15pt">{{ Session }}</p>
                </div>
            </div>
            {% for AuthorList, AffiliationList, TitleList, PDFList in EpisodeContext %}
                <div class="carousel-item">
                    {#                <a href="episode?id={{TitleList}}&id2={{ Session }}&id3={{ Pavilion }}">{{ TitleList }}<img class="d-block w-50" src="{% static 'img'%}/{{Pavilion}}/{{ forloop.counter0 }}.jpg">#}
                    <a href="episode?id={{TitleList}}&id2={{ Session }}&id3={{ Pavilion }}">{{ TitleList }}<img class="d-block w-50" src="{% static './resources/logo.png'%}">

                    </a>
                    <div class="imgtext">
                        <p style="color: white;">&nbsp;&nbsp;&nbsp;Session : {{ Session }}</p>
                        <p style="color: white;">&nbsp;&nbsp;&nbsp;Title : {{ TitleList }}</p>
                    </div>
                    <div class="carousel-caption">
                        <p style="font-size: 15pt">Author : {{ AuthorList }}</p>
                        <p style="font-size: 15pt">Affiliation : {{ AffiliationList }}</p>
                        <p style="font-size: 15pt"><a href="https://ras.papercept.net/proceedings/ICRA20/{{ PDFList }}" target="_blank"> Open PDF files</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span> </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span> </a>
    </div>

    <script src="{% static 'js/index_header.js' %}"></script>
    <script src="{% static 'package/js/swiper.min.js' %}"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 5,
            spaceBetween: 10,
            slidesPerGroup: 2,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</div>
</body>
</html>
