<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : Episodes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles0723.css' %}">
    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index_land0717.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index_header0717.css' %}" />
</head>
<body>
<header>
    <div class="logo">
        <a href="./">
            <img src="{% static './resources/logo.png'%}"/>
        </a>
        <button class="header-toggleBtn"><i class="fa fa-bars"></i></button>
    </div>

    <ul class="categories">
        <a href="./" style="color:white; text-decoration:none;">
            <li class="category category1">Home</li></a>
        <li class="category category2">My Lists</li>
        <li class="category category3">Recently Added</li>
    </ul>

    <ul class="search_notice_info">
        <li class="search"><i class="fa fa-search"></i></li>
        <li class="info"><i class="fa fa-user"></i></li>
    </ul>
</header>
<div style="width:95%; margin:0 auto; padding-top: 12%;" align="justify">
    <h3>&nbsp;&nbsp;Title : {{Title}}</h3>
    <p>&nbsp;</p>

    <video style="display:block; margin: 0 auto;" width="90%" height=auto controls>
        <source src="https://ras.papercept.net/proceedings/ICRA20/{{ VideoList.0 }}" type="video/mp4">
    </video>

    <p>&nbsp;</p>
    <center><button onclick="goBack()">Go Back</button></center>

    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Similar to this contribution</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for j in SuggestNumber %}
                    <div class="swiper-slide"><a href="suggestion?id1={{j}}" style="color:white; text-decoration: none;">
                        <img src="{% static './resources/logo.png'%}">
                        <div class="onimg-caption">{{ j }}
                        </div>
                    </a>
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <script src="{% static 'js/index_header.js' %}"></script>
    <script src="{% static 'package/js/swiper.min.js' %}"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            {#slidesPerView: 7,#}
            {#spaceBetween: 10,#}
            slidesPerGroup: 2,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // when window width is >= 320px
                200: {
                    slidesPerView: 4,
                    slidesPerColumnFill:'row',
                    spaceBetween: 4
                },
                // when window width is >= 480px
                600: {
                    slidesPerView: 5,
                    spaceBetween: 5
                },
                // when window width is >= 640px
                900: {
                    slidesPerView: 6,
                    spaceBetween: 6
                }
            }
        });
    </script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</div>
</body>
</html>
