<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Netflix 1.1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <!-- Demo styles -->
  <style>

  </style>
</head>
<body>
  <!-- Swiper -->
  <h1>IROS2020 OnDemand</h1>


  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Pavilion.0}}</h3>
    <div class="swiper-container">
      <div class="swiper-wrapper">
          {% for j in Aerial.items %}
        <div class="swiper-slide"><a href="tvshow?id={{j.1}}"><img src="{% static 'img/p1' %}/{{ j.0 }}.jpg" alt="Movie Title">
        </a></img>
        </div>
          {% endfor %}
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.1}}</h3>
    <div class="swiper-container">
{#      <div class="swiper-wrapper">#}
{#          {% for j in TVseries1.items %}#}
{#        <div class="swiper-slide"><img src="{% static 'img' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>#}
{#          {% endfor %}#}
{#      </div>#}
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.2}}</h3>
    <div class="swiper-container">
{#      <div class="swiper-wrapper">#}
{#          {% for j in TVseries1.items %}#}
{#        <div class="swiper-slide"><img src="{% static 'img' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>#}
{#          {% endfor %}#}
{#      </div>#}
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.3}}</h3>
    <div class="swiper-container">
      <div class="swiper-wrapper">
          {% for j in Humanoid.items %}
        <div class="swiper-slide"><img src="{% static 'img/p3' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>
          {% endfor %}
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.4}}</h3>
    <div class="swiper-container">
{#      <div class="swiper-wrapper">#}
{#          {% for j in TVseries1.items %}#}
{#        <div class="swiper-slide"><img src="{% static 'img' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>#}
{#          {% endfor %}#}
{#      </div>#}
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.5}}</h3>
    <div class="swiper-container">
{#      <div class="swiper-wrapper">#}
{#          {% for j in TVseries1.items %}#}
{#        <div class="swiper-slide"><img src="{% static 'img' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>#}
{#          {% endfor %}#}
{#      </div>#}
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.6}}</h3>
    <div class="swiper-container">
{#      <div class="swiper-wrapper">#}
{#          {% for j in TVseries1.items %}#}
{#        <div class="swiper-slide"><img src="{% static 'img' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>#}
{#          {% endfor %}#}
{#      </div>#}
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.7}}</h3>
    <div class="swiper-container">
{#      <div class="swiper-wrapper">#}
{#          {% for j in TVseries1.items %}#}
{#        <div class="swiper-slide"><img src="{% static 'img' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>#}
{#          {% endfor %}#}
{#      </div>#}
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.8}}</h3>
    <div class="swiper-container">
{#      <div class="swiper-wrapper">#}
{#          {% for j in TVseries1.items %}#}
{#        <div class="swiper-slide"><img src="{% static 'img' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>#}
{#          {% endfor %}#}
{#      </div>#}
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.9}}</h3>
    <div class="swiper-container">
{#      <div class="swiper-wrapper">#}
{#          {% for j in TVseries1.items %}#}
{#        <div class="swiper-slide"><img src="{% static 'img' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>#}
{#          {% endfor %}#}
{#      </div>#}
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>


  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.10}}</h3>
    <div class="swiper-container">
{#      <div class="swiper-wrapper">#}
{#          {% for j in TVseries1.items %}#}
{#        <div class="swiper-slide"><img src="{% static 'img' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>#}
{#          {% endfor %}#}
{#      </div>#}
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>


  <div class="netflix-slider">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{Pavilion.11}}</h3>
    <div class="swiper-container">
{#      <div class="swiper-wrapper">#}
{#          {% for j in TVseries1.items %}#}
{#        <div class="swiper-slide"><img src="{% static 'img' %}/{{ j.0 }}.jpg" alt="Movie Title"></div>#}
{#          {% endfor %}#}
{#      </div>#}
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>



  <!-- Swiper JS -->
  <script src="{% static 'package/js/swiper.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 5,
      spaceBetween: 10,
      slidesPerGroup: 2,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</body>
</html>