<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IROS 2020 On-Demand : Sign-Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <style>
        body {
            background:#1F1F1F;
            font-family: "Source Sans Pro", sans-serif;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <a href="/ondemandbeta"><img src="{% static './resources/logo.png'%}" width="30%"></a>
</div>
<div style="text-align: center;padding-top: 5%; color: white">
{% block content %}
    <h1>The confirmation link was invalid, <br>possibly because it has already been used.</h1>
{% endblock %}
</div>
</body>
</html>