<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : Failed to Log-in</title>

    <style>
        body {
            background:#1F1F1F;
            font-family: "Source Sans Pro", sans-serif;
        }
    </style>
</head>

<body>
<img src="{% static './resources/logo.png'%}" width="10%">

<div style="text-align: center;padding-top: 10%; color: white">
    <h1> Failed to Log-in <br> Please type correct information</h1>
    <p>&nbsp;</p>
    <a href="./"style="color:white;"><h1>Go Back to Login Page</h1></a>
{#    <button onclick="goBack()">Go Back</button>#}
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
