<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% include 'beta/session_security/all.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : Sessions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <script src="https://s3-us-west-2.amazonaws.com/ieeeshutpages/gdpr/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise(json)
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8QZDWZH3X6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8QZDWZH3X6');
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles1018.css' %}">
    <link rel="stylesheet" href="{% static 'css/paperimg0930.css' %}">
    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/index_header1006.css' %}" />

</head>
<body>
<div class="onDemandwidthControl">

    <nav style="background-color: rgba(0,0,0,0.9)" class="navbar navbar-expand-lg navbar-dark fixed-top">
        <!-- Brand/logo -->
        {% if showcontents == 3 %}
            <a class="navbar-brand" href="main?id=competition">
        {% elif showcontents == 2 %}
            <a class="navbar-brand" href="main?id=wstr">
        {% else %}
            <a class="navbar-brand" href="main?id=technicalpaper">
        {% endif %}
        <img src="{% static './resources/logo.png'%}" width="150px"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if showcontents == 3 %}
                        <a class="nav-link" href="main?id=competition" style="color:white; ">Home</a>
                    {% elif showcontents == 2 %}
                        <a class="nav-link" href="main?id=wstr" style="color:white; ">Home</a>
                    {% else %}
                        <a class="nav-link" href="main?id=technicalpaper" style="color:white; ">Home</a>
                    {% endif %}
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbardrop" data-toggle="dropdown">
                        Entrance
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="main?id=technicalpaper">Technical Talks</a>
                        <a class="dropdown-item" href="main?id=wstr">Workshops and Tutorials</a>
                        <a class="dropdown-item" href="main?id=competition">Robot Competition</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mylist?id={{ showcontents }}" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">My Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="color:white;">Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="jobs?id={{ showcontents }}" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:yellow;">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="placeyourads?id={{ showcontents }}"  onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">Place your Ad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="partners?id={{ showcontents }}" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about?id={{ showcontents }}" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faqhelp?id={{ showcontents }}" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">FAQ/Help</a>
                </li>
                <form class="form-inline navbar-right">
                    <input type="text" id="search_bar" value="" class="searchBar" onkeydown="if(event.keyCode === 13) {event.preventDefault(); document.getElementById('searchBtn').click()}"/>
                    <d onclick="if(search_bar.value.length > 0)search()">
                        <a id = "keywordDelivery" href="javascript: void(0)">
                            <i id="searchBtn" class="fa fa-search" style="color:white;margin-left: 100%;font-size: 18px"></i>
                        </a>
                    </d>
                </form>
            </ul>

        </div>
    </nav>
    <div style="width:95%; margin:0 auto; padding-top: 100px;" align="justify">
        <h3 class="pavtitle"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b></h3>
        <br>

        <div class = "landingtable">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="gsTableLeft">
                        <div style="position: relative;overflow: hidden;transform: scale(1.02)">
                            <video id="videoGoldSponsor" width="100%" autoplay loop playsinline>
                                <source src="{% static './video'%}/{{ partnerLevel }}/{{ partnerVideo }}.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="gsVidCaptionBtn">
                            <button style="background-color: transparent;border: none; margin:auto; outline: none;color: red;" class="UnmuteBtn"  onclick="disbleMute('videoGoldSponsor')" type="button">
                                <i id="muteBtn" class="fas fa-volume-up"></i>
                            </button>
                        </div>
                    </td>
                    <td style="background-color: rgba(0,0,0,.8)">
                        <div style="position: relative;overflow: hidden">
                            <div class="gsVidCaption">
                                <div style="width: 100%;text-align: center;">
                                    <img id="psponsorImg3" src="{% static 'img/Partners'%}/{{ partnerLevel }}/{{ selectedPartner }}.png" width="90%">
                                    <p class="gsVidCaption-p1">IROS {{ partnerLevel }} Partner</p>
                                    {% if partnerAbstract == 'missing' %}
                                        <p class="gsVidCaption-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dolor vitae metus tincidunt sollicitudin.
                                            Nulla molestie eget turpis nec fermentum. Curabitur quis bibendum justo.</p>
                                    {% else %}
                                        <p class="gsVidCaption-p2" style="word-break: break-word">{{ partnerAbstract }}</p>
                                    {% endif %}
                                    {% if selectedPartner != 'Robotis' %}
                                        <p class="gsVidCaption-p3"><a id="psponsorLink3" target="_blank" style="color: coral;" href="{{partnerHyperlink}}">Click for more information</a></p>
                                    {% else %}
                                        <p class="gsVidCaption-p3"><a id="psponsorLink3" target="_blank" style="color: coral;" href="{{partnerHyperlink}}">"Interested? Learn more HERE"</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        {#        <table class="carousel-covers">#}
        {#            <tr>#}
        {#                <td class="carousel-video" id="carousel-video-reader">#}
        {#                    <video id="videoGoldSponsor" loop playsinline autoplay>#}
        {#                        <source src="{% static './video'%}/{{ partnerLevel }}/{{ partnerVideo }}.mp4" type="video/mp4">#}
        {#                    </video>#}
        {#                </td>#}
        {#                <td class="carousel-caption1" style="display: table-cell">#}
        {#                    <div class="carousel-pbox" >#}
        {#                                <span>#}
        {#                                <img src="{% static 'img/Partners'%}/{{ partnerLevel }}/{{ selectedPartner }}.png" width="90%">#}
        {#                                <p class="carousel-p1">IROS Platinum Partner</p>#}
        {#                                    {% if partnerAbstract == 'missing' %}#}
        {#                                        <p class="carousel-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dolor vitae metus tincidunt sollicitudin.#}
        {#                                            Nulla molestie eget turpis nec fermentum. Curabitur quis bibendum justo.</p>#}
        {#                                    {% else %}#}
        {#                                        <p class="carousel-p2">{{ partnerAbstract }}</p>#}
        {#                                    {% endif %}#}
        {#                                    <p class="carousel-p3"><a target="_blank" style="color: coral;" href="{{ partnerHyperlink}}">Click for more information</a></p>#}
        {#                                <div class="pltVolumeBtn">#}
        {#                                    <button style="background-color: transparent;border: none; margin:0 auto; outline: none;color: red;" class="UnmuteBtn"  onclick="disbleMute('videoGoldSponsor')" type="button">#}
        {#                                        <i id="muteBtn" class="fas fa-volume-up"></i>#}
        {#                                    </button>#}
        {#                                </div></span>#}
        {#                    </div>#}
        {#                </td>#}
        {#            </tr>#}
        {#        </table>#}

        <p>&nbsp;</p>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

        <script src="{% static 'package/js/swiper.min.js' %}"></script>
        <script>
            function search(){
                const query = document.getElementById("search_bar").value;
                document.getElementById("keywordDelivery").href = "searchresult?id2={{ showcontents }}&id="+query;
            }

        </script>
        <script>
            function disbleMute(video) {
                var mutebuttonClass = document.getElementById('muteBtn').className;
                var vid = document.getElementById(video);
                if(mutebuttonClass == 'fas fa-volume-up'){
                    $('#muteBtn').removeClass(mutebuttonClass);
                    $('#muteBtn').addClass('fas fa-volume-mute');
                    vid.muted = true;
                }else{
                    $('#muteBtn').removeClass(mutebuttonClass);
                    $('#muteBtn').addClass('fas fa-volume-up');
                    vid.muted=false;
                }
            }
        </script>

        <script>
            window.addEventListener( "pageshow", function ( event ) {
                var historyTraversal = event.persisted ||
                    ( typeof window.performance != "undefined" &&
                        window.performance.navigation.type === 2 );
                if ( historyTraversal ) {
                    // Handle page restore.
                    window.location.reload();
                    {#console.log('save my ass')#}
                }
            });
        </script>
        <script>
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                document.write("mobile");
                var vid1 = document.getElementById('videoGoldSponsor')
                vid1.muted=true;
                var mutebuttonClass = document.getElementById('muteBtn').className;
                $('#muteBtn').removeClass(mutebuttonClass);
                $('#muteBtn').addClass('fas fa-volume-mute');

            }else{
                document.write("not mobile");
            }
        </script>
        <script>
            var sBrowser, sUsrAg = navigator.userAgent;

            if (sUsrAg.indexOf("Firefox") > -1) {
                var vid1 = document.getElementById('videoGoldSponsor')
                vid1.muted=true;
                var mutebuttonClass = document.getElementById('muteBtn').className;
                $('#muteBtn').removeClass(mutebuttonClass);
                $('#muteBtn').addClass('fas fa-volume-mute');
            }
        </script>
        <script>
            $(document).ready(function(){
                $('#videoGoldSponsor').bind('contextmenu',function() { return false; });
            });
        </script>
        <script>
            function hitCounter(titleNumber){
                if(titleNumber === undefined){
                    return;
                }
                var current = Date.now();
                var targettime = current + 2000;
                {#console.log(titleNumber);#}
                var timer = setInterval(function () {
                    var now = Date.now();
                    if(targettime <= now) {
                        var mainHitcount = document.getElementById("mainHitCount");
                        $.ajax({
                            url: 'post_hitcount',
                            type: 'POST',
                            data: {'paperNumber': titleNumber},
                            dataType: 'json',
                            success: function (json) {
                                {#alert("Title Hit Success");#}
                                clearInterval(timer);
                                {#mainHitcount.innerHTML = json['hitCount'] + ' views';#}
                            },
                            error: function (err) {
                                {#alert("Failed to Retrieve JSON file from Server");#}
                            }
                        });
                    }
                },2500);
            }
            hitCounter({{ partnerVideoNumber}})
        </script>
    </div>
</div>
</body>
</html>
