<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <script src="https://s3-us-west-2.amazonaws.com/ieeeshutpages/gdpr/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise(json)
        });
    </script>
    <link rel="stylesheet" href="{% static '/css/login0922.css' %}">
    <link rel="stylesheet" href="{% static '/css/entranceStyle1008.css' %}">

</head>

<body bgcolor="#1F1F1F">
<div class="entranceLogo">
    <img src="{% static './resources/logo.png'%}">
</div>
<center>
    <span class="entranceSponsorImgOrganizer">
        <div class="entranceSponsorImg">
<img src="{% static 'img/societySponsors1.png'%}"></div>
            <div class="entranceSponsorImg"><img src="{% static 'img/societySponsors2.png'%}"></div>
        </span><br>

    <span class="entranceOrganizer">
        <a href="main?id=technicalpaper" style="text-decoration: none;"><div class="entranceToggle">
            <div class="entranceToggleContainer" style="background-color: yellow;"> </div>
            <p class="entranceToggleCaption" style="font-size: 20px;font-weight: bold">Technical Talks</p>
        </div>
        </a>
        <p>&nbsp;</p>
        <a href="main?id=wstr" style="text-decoration: none;"><div class="entranceToggle">
            <div class="entranceToggleContainer"  style="background-color: hotpink;"> </div>
            <p class="entranceToggleCaption" style="font-size: 20px;font-weight: bold">Workshops and Tutorials</p>
        </div>
        </a>
        <p>&nbsp;</p>
        <a href="main?id=competition" style="text-decoration: none;"><div class="entranceToggle">
            <div class="entranceToggleContainer"  style="background-color: greenyellow;"> </div>
            <p class="entranceToggleCaption"style="font-size: 20px;font-weight: bold">Robot Competition</p>
        </div>
        </a>
    </span><br>
</center>
<center>
    <span class="entrancePlatSponsorImgOrganizer">
            <div class="entrancePlatSponsorImg"><img src="{% static 'img/platinumPartners.png'%}"></div>
                <div class="entrancePlatSponsorImg"><img src="{% static 'img/goldsilverPartners.png'%}"></div>
            </span>
</center>

</body>
</html>
