<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : Sessions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <script src="https://s3-us-west-2.amazonaws.com/ieeeshutpages/gdpr/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise(json)
        });
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles1007.css' %}">
    <link rel="stylesheet" href="{% static 'css/paperimg0930.css' %}">
    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index_header1006.css' %}" />

</head>
<body>
<nav style="background-color: rgba(0,0,0,0.7)" class="navbar navbar-expand-md navbar-dark fixed-top">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="entrance">
        <img src="{% static './resources/logo.png'%}" width="120px"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="entrance" style="color:white; ">Home</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Entrance
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="main?id=technicalpaper">Technical Talks</a>
                    <a class="dropdown-item" href="main?id=wstr">Workshops and Tutorials</a>
                    <a class="dropdown-item" href="main?id=competition">Robot Competition</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mylist?" onClick="this.href=this.href+new Date().getTime()" style="color:white;">My Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout" style="color:white;">Logout</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <form class="form-inline navbar-right">
                <input type="text" id="search_bar" value="" class="searchBar" onkeydown="if(event.keyCode === 13) {event.preventDefault(); document.getElementById('searchBtn').click()}"/>
                <d onclick="if(search_bar.value.length > 0)search()">
                    <a id = "keywordDelivery" href="javascript: void(0)">
                        <i id="searchBtn" class="fa fa-search" style="color:white;margin-left: 100%;font-size: 18px"></i>
                    </a>
                </d>
            </form>
        </ul>

    </div>
</nav>
<div style="width:95%; margin:0 auto; padding-top: 5%;" align="justify">
    <p>&nbsp;</p>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{Pavilion}}</h3>
    <br>
<center>
    <div class = "goldsponsorDiv" style="width: 80%; height: auto;">
        <div style="position: relative;overflow: hidden">
            <video id="videoGoldSponsor" width="100%" autoplay loop >
                <source src="{% static './video'%}/Gold Sponsor/{{ goldSponsorVideo.0 }}.mp4" type="video/mp4">
            </video>
            <div style="position: absolute; z-index: 1;color: yellow; bottom: 0; text-align: center; font-size: 200%; background-color: rgba(0,0,0,0.7); width: 100%">
                <p>Sample Gold Partner Video Placement</p>
                <p><a href="{{ goldSponsorWebpage.0 }}" target="_blank"  style="color:white; text-decoration: none;">Click {{ goldSponsorWebpage.0 }}</a> </p>
                <div style="width: 50%; text-align: left; font-size: 100%;">
                    <button style="background-color: transparent;border: none; margin:auto; outline: none;color: red;" class="UnmuteBtn"  onclick="disbleMute('videoGoldSponsor')" type="button">
                        <i class="fas fa-volume-up"></i>
                    </button>
                    <button style="background-color: transparent;border: none;margin:auto;outline: none; color: red;" class="MuteBtn" onclick="enableMute('videoGoldSponsor')" type="button">
                        <i class="fas fa-volume-mute"></i>
                    </button>
                </div>
            </div>
        </div>
        <div style="transform: translateY(-200px); position: absolute;background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1)); width: 76%;height: 200px;"></div>
    </div>
</center>
    <p>&nbsp;</p>
    <div class="netflix-slider">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{Pavilion}} - Sessions</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for j in SessionList %}
                    <div class="swiper-slide"><a href="tvshow?id={{j}}&id2={{ Pavilion }}&id3={{PavilionNum}}" style="color:white; text-decoration: none;">
                        <img class="netflix-slider-img" onError="this.onerror=null;this.src='{% static './resources/logo2.png' %}';" src="{% static 'img'%}/pavilion{{ PavilionNum }}/{{ j }}.jpg">
                        <div class="onimg-caption">{{ j }}
                        </div>
                    </a>
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            {#      <div class="swiper-pagination"></div>#}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/index_header.js' %}"></script>
    <script src="{% static 'package/js/swiper.min.js' %}"></script>
    <script>
        function search(){
            const query = document.getElementById("search_bar").value;
            document.getElementById("keywordDelivery").href = "searchresult?id="+query;
        }

    </script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            {#slidesPerView: 7,#}
            {#spaceBetween: 10,#}
            slidesPerGroup: 2,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // when window width is >= 320px
                200: {
                    slidesPerView: 4,
                    slidesPerColumnFill:'row',
                    spaceBetween: 4
                },
                // when window width is >= 480px
                600: {
                    slidesPerView: 5,
                    spaceBetween: 5
                },
                // when window width is >= 640px
                900: {
                    slidesPerView: 6,
                    spaceBetween: 6
                }
            }
        });
    </script>
    <script>
        function enableMute(video) {
            var vid = document.getElementById(video);
            vid.muted = true;
        }
        function disbleMute(video) {
            var vid = document.getElementById(video);
            vid.muted = false;
        }
    </script>
    <script>
        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted ||
                ( typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
                {#console.log('save my ass')#}
            }
        });
    </script>
</div>
</body>
</html>
