<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : Episodes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles0730.css' %}">
    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index_land0717.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index_header0717.css' %}" />
</head>
<body>
<header>
    <div class="logo">
        <a href="./main?id={{ account }}">
            <img src="{% static './resources/logo.png'%}"/>
        </a>
        <button class="header-toggleBtn"><i class="fa fa-bars"></i></button>
    </div>

    <ul class="categories">
        <a href="./main?id={{ account }}" style="color:white; text-decoration:none;">
            <li class="category category1">Home</li></a>
        <li class="category category2">My Lists</li>
        <li class="category category3">Recently Added</li>
    </ul>

    <ul class="search_notice_info">
        <form>
            <input type="text" id="search_bar" value="" class="searchBar" onkeydown="if(event.keyCode === 13) {event.preventDefault(); document.getElementById('searchBtn').click()}"/>
            <d onclick="search()">
                <a id = "keywordDelivery" href="">
                    <i id="searchBtn" class="fa fa-search" style="font-size:25px;color:white;"></i>
                </a>
            </d>
        </form>
        <li class="info"><i class="fa fa-user"></i></li>
    </ul>
</header>
<div style="width:95%; margin:0 auto; padding-top: 5%;" align="justify">
    <h3 class="episodeTitle">Title : {{ workshopsTalkTitle.0 }}</h3>
    <p>&nbsp;</p>
    {#    <video style="display:block; margin: 0 auto; width: 40%; height: auto" controls autoplay>#}
    {#        <source src="https://ras.papercept.net/proceedings/ICRA20/{{ VideoList.0 }}" type="video/mp4">#}
    {#    </video>#}
    <p align="center">
        <iframe allow="autoplay; fullscreen" width="800px" height="400px" style="display:block;"
                src="{{ workshopsVideo.0}}">
        </iframe>
    </p>
    <p>&nbsp;</p>


    <center>
        <table border="0" cellpadding="0" cellspacing="0"style="background-color: #1F1F1F; text-align: center;color: white;">
            <tr>
                <td class="gobackButton"><button onclick="goBack()">Go Back</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td><div class="likeButton" style="color: white;">Like?&nbsp;&nbsp;</div></td>
                <td>
                    <form>
                        <i id="thumbs1" class="fa fa-thumbs-up" style="color:grey; font-size: 30px" onClick="thumbsUp(1)"></i>
                        <input type="text" id="1" value="0" class="thumbsuptext" readonly/>
                    </form>
                </td>
            </tr>
        </table>
        <div>
            <p class="comment" id="para"></p>
            <input id="example" type="text"
                   name="Ntext" size="20" class="commentbox" onkeydown="if(event.keyCode === 13) {event.preventDefault(); document.getElementById('sent').click()}"/>
            <br>
            <input id="sent" type="submit" value="Send">
        </div>
    </center>
    <h3 style="padding-bottom: 2%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; More Talks in this workshops : </h3>

    {% for Speaker, Institution, TalkTitle in WorkshopsContext %}
        {% if Speaker == 'missing' %}
            &nbsp;
        {% else %}
            <div class="epilisttable" style="width: 80%; height: auto; text-align: center; margin-left: 10%; background-color: grey; margin-bottom:1%">
                <table border="0" cellpadding="0" cellspacing="0" style="background-color: #323232;" >
                    <tr>
                        <td style="width: 30%">
                            <a href="workshopsepisode?id={{Speaker}}&id2={{selectedWorkshops}}&id3={{ selectedGenre }}&id4={{ forloop.counter0|add:1 }}">
                                <img src="{% static './resources/playlogo.png'%}"></a>
                        </td>
                        <td valign="top" align="left" style="padding-left: 5%; padding-top: 3%;word-break: keep-all">
                            <p class="papertitle" style="color: white;">Title : {{ TalkTitle }}</p>
                            <table class="paperInfo" border="0" cellpadding="0" cellspacing="0" width="100% "style="background-color: #323232; text-align: left;color: white;">
                                <tbody>
                                <tr>
                                    <td style="width: 20%;">Speaker</td>
                                    <td>{{ Speaker }}</td>
                                </tr>

                                <tr>
                                    <td style="width: 20%">Institution</td>
                                    <td>{{ Institution }}</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                            <form>
                                <i id="thumbs{{ forloop.counter0 }}" class="fa fa-thumbs-up" style="color:grey; font-size: 30px" onClick="thumbsUp({{ forloop.counter0 }})"></i>
                                <input type="text" id="{{ forloop.counter0 }}" value="0" class="thumbsuptext" readonly/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% endfor %}

    <script src="{% static 'js/index_header.js' %}"></script>
    <script src="{% static 'package/js/swiper.min.js' %}"></script>
    <script>
        function thumbsUp(thumbsid)
        {
            var active = document.getElementById("thumbs"+thumbsid.toString()).style.color;

            var value = parseInt(document.getElementById(thumbsid).value, 10);
            value = isNaN(value) ? 0 : value;


            if(active == "grey"){
                value++;
                active = "Thumbs Down";
                document.getElementById("thumbs"+thumbsid.toString()).style.color = "blue";
                document.getElementById(thumbsid).style.color = "blue";


            }else{
                value--;
                active = "Thumbs Up";
                document.getElementById("thumbs"+thumbsid.toString()).style.color = "grey";
                document.getElementById(thumbsid).style.color = "grey";
            }

            document.getElementById("thumbs"+thumbsid.toString()).value = active;
            document.getElementById(thumbsid).value = value;
        }

    </script>
    <script>
        function search(){
            const query = document.getElementById("search_bar").value;
            document.getElementById("keywordDelivery").href = "searchresult?id="+query;
        }

    </script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            {#slidesPerView: 7,#}
            {#spaceBetween: 10,#}
            slidesPerGroup: 2,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // when window width is >= 320px
                200: {
                    slidesPerView: 4,
                    slidesPerColumnFill:'row',
                    spaceBetween: 4
                },
                // when window width is >= 480px
                600: {
                    slidesPerView: 5,
                    spaceBetween: 5
                },
                // when window width is >= 640px
                900: {
                    slidesPerView: 6,
                    spaceBetween: 6
                }
            }
        });
    </script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        window.onclick = function(e)
        {   var id =  e.target.id;
            if (id === 'sent')
            { var txt = document.getElementById('example').value
                $( "#para" ).empty().append("{{ account }} : "+ txt );
                document.getElementById('example').value = "";
            }
        }
    </script>
</div>
</body>
</html>
