<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : Episodes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles0921.css' %}">
    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index_land0717.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index_header0921.css' %}" />
    <script>
        function hitCounter(titleNumber){
            var mainHitcount = document.getElementById("mainHitCount");
            $.ajax({
                url:'post_hitcount',
                type:'POST',
                data:{'paperNumber':titleNumber},
                dataType:'json',
                success: function(json) {
                    {#alert("Title Hit Success")#}
                    mainHitcount.innerHTML = json['hitCount'] + ' views';
                },
                error: function(err) {
                    alert("Failed to Retrieve JSON file from Server");
                }
            });
        }
    </script>
</head>
<body onload="hitCounter({{ SelectedPaperNumber }})">
<header>
    <div class="logo">
        <a href="entrance">
            <img src="{% static './resources/logo.png'%}"/>
        </a>
        <button class="header-toggleBtn"><i class="fa fa-bars"></i></button>
    </div>

    <ul class="categories">
        <li class="category category1"><a href="entrance" style="color:white; text-decoration: none;">Home</a></li>
        <li class="category category2"><a href="mylist?" onClick="this.href=this.href.split('?')[0]+'?'+new Date().getTime()" style="color:white; text-decoration: none;">My Lists</a></li>
        <li class="category category3"><a href="logout" style="color:white; text-decoration: none;">Logout</a></li>
    </ul>

    <ul class="search_notice_info">
        <form>
            <input type="text" id="search_bar" value="" class="searchBar" onkeydown="if(event.keyCode === 13) {event.preventDefault(); document.getElementById('searchBtn').click()}"/>
            <d onclick="search()">
                <a id = "keywordDelivery" href="">
                    <i id="searchBtn" class="fa fa-search" style="color:white;"></i>
                </a>
            </d>
        </form>
    </ul>
</header>
<div style="width:95%; margin:0 auto; padding-top: 5%;" align="justify">

    <table style="width: 100%;">
        <tr>
            <td style="width: 60%;">
                <video id="vid" style="display:block; margin: 0 auto; width: 100%;" controls autoplay>
                    <source src="https://ras.papercept.net/proceedings/ICRA20/{{ VideoList.0 }}" type="video/mp4">
                </video>
            </td>
            <td style="width: 40%; vertical-align: center;">
                {% csrf_token %}
                {% include './comment_list_beta.html' %}
            </td>
        </tr>
    </table>
    <h3 class="episodeTitle">Title : {{Title}}</h3>
    {#    <span id="mainHitCount" style="color: yellow; font-size: 18px"></span>#}
    <p>&nbsp;</p>

    <center>
        <table border="0" cellpadding="0" cellspacing="0"style="background-color: #1F1F1F; text-align: center;color: white;">
            <tr>
                <td>
                    <scan id="mainHitCount" style="color: yellow; font-size: 18px"></scan>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td class="gobackButton">
                    <button onclick="goBack()">Go Back</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                {#                <td><div class="likeButton" style="color: white;">Like?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></td>#}
                <td>
                    {% csrf_token %}
                    {% if selectedPaperLikeButtonColor == 1 %}
                        <button class="likeButton" type="submit" style="margin: auto;" onclick="updateLike({{ SelectedPaperNumber }})">
                            <i id="thumbs{{SelectedPaperNumber}}" class="fa fa-thumbs-up" style="color:yellow; font-size: 30px"></i>
                            <input type="text" id="{{ SelectedPaperNumber }}" value="{{ selectedPaperLikeCount }}" class="thumbsuptext" name="likeCount" readonly/>
                            <input type="hidden" name="paperNumber" value="{{ SelectedPaperNumber }}">
                        </button>
                    {% else %}
                        <button class="likeButton" type="submit" style="padding: 0%" onclick="updateLike({{ SelectedPaperNumber }})">
                            <i id="thumbs{{SelectedPaperNumber}}" class="fa fa-thumbs-up" style="color:grey; font-size: 30px"></i>
                            <input type="text" id="{{ SelectedPaperNumber }}" value="{{ selectedPaperLikeCount }}" class="thumbsuptext" name="likeCount" readonly/>
                            <input type="hidden" name="paperNumber" value="{{ SelectedPaperNumber }}">
                        </button>
                    {% endif %}
                </td>
                <td class="savePapers" style="color: white">
                    {% csrf_token %}
                    {% if selectedPaperbuttonStatus == 1 %}
                        <button class="saveButton" type="submit" style="margin: auto;background-color:transparent ;" onclick="updateSave({{ SelectedPaperNumber }})">
                            <i id="savebutton{{SelectedPaperNumber}}" class="fa fa-check-circle"  aria-hidden="true" style="color:white; font-size: 30px"></i>
                            <input type="hidden" name="paperNumber" value="{{ SelectedPaperNumber }}">
                        </button>
                        <p>My List</p>
                    {% else %}
                        <button class="saveButton" type="submit" style="padding: 0% ;background-color: transparent;" onclick="updateSave({{ SelectedPaperNumber }})">
                            <i id="savebutton{{SelectedPaperNumber}}" class="fa fa-plus"  aria-hidden="true" style="color:white; font-size: 30px"></i>
                            <input type="hidden" name="paperNumber" value="{{ SelectedPaperNumber }}">
                        </button>
                        <p>My List</p>
                    {% endif %}
                </td>
            </tr>
        </table>

    </center>
    <h3 style="padding-bottom: 2%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; More talks like this : </h3>

    {% for AuthorList1, AuthorList2, AuthorList3, AuthorList4,AuthorList5, AuthorList6, AffiliationList1,AffiliationList2,AffiliationList3,AffiliationList4,AffiliationList5,TitleList, PDFList, titleNumber, suggestEpisodeNum,paperLikeCount,paperLikeButtonColor, SessionTitle, paperSaveButtonStatus, paperHitCount in EpisodeContext %}
        <div class="suggestlisttable">
            <table border="0" cellpadding="0" cellspacing="0" style="background-color: #323232;" >
                <tr>
                    <td style="width: 30%">
                        <a href="episode?id={{TitleList}}&id2={{ SessionTitle }}" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white; text-decoration: none;">
                            <img src="{% static './resources/playlogo.png'%}"></a>
                    </td>
                    <td valign="top" align="left" style="padding-left: 5%; padding-top: 3%;word-break: keep-all;">
                        <p class="papertitle" style="color: white;">Title : {{ TitleList }}</p>
                        <table class="paperInfo" border="0" cellpadding="0" cellspacing="0" width="100% "style="background-color: #323232; text-align: left;color: white;">
                            <tbody>

                            <tr>
                                <td style="width: 40%;"><u>Author</u></th>
                                <td><u>Affiliation</u></th>
                            </tr>
                            {% if AuthorList1 == 'missing' %}
                                &nbsp;
                            {% else %}
                                <tr>
                                    <td style="width: 40%">{{ AuthorList1 }}</td>
                                    <td>{{ AffiliationList1 }}</td>
                                </tr>
                            {% endif %}
                            {% if AuthorList2 == 'missing' %}
                                &nbsp;
                            {% else %}
                                <tr>
                                    <td style="width: 40%">{{ AuthorList2 }}</td>
                                    <td>{{ AffiliationList2 }}</td>
                                </tr>
                            {% endif %}
                            {% if AuthorList3 == 'missing' %}
                                &nbsp;
                            {% else %}
                                <tr>
                                    <td style="width: 40%">{{ AuthorList3 }}</td>
                                    <td>{{ AffiliationList3 }}</td>
                                </tr>
                            {% endif %}
                            {% if AuthorList4 == 'missing' %}
                                &nbsp;
                            {% else %}
                                <tr>

                                    <td style="width: 40%">{{ AuthorList4|default_if_none:"" }}</td>
                                    <td>{{ AffiliationList4|default_if_none:"" }}</td>
                                </tr>
                            {% endif %}
                            {% if AuthorList5 == 'missing' %}
                                &nbsp;
                            {% else %}
                                <tr>
                                    <td style="width: 40%">{{ AuthorList5 }}</td>
                                    <td>{{ AffiliationList5 }}</td>
                                </tr>
                            {% endif %}
                            {% if AuthorList6 == 'missing' %}
                                &nbsp;
                            {% else %}
                                <tr>
                                    <td style="width: 40%"><i style="font-size: 100%">Et al</i></td>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <p style="font-size: 18px"><a href="https://ras.papercept.net/proceedings/ICRA20/{{ PDFList }}" target="_blank"  style="color: lawngreen;"> Open PDF files</a></p>
                        {% csrf_token %}
                        {% if paperLikeButtonColor == 1 %}
                            <button class="likeButton" type="submit" style="margin: auto;background-color: #323232 ;" onclick="updateLike({{ titleNumber }})">
                                <i id="thumbs{{titleNumber}}" class="fa fa-thumbs-up" style="color:blue; font-size: 30px"></i>
                                <input type="text" id="{{ titleNumber }}" value="{{ paperLikeCount }}" class="thumbsuptext" name="likeCount" readonly/>
                                <input type="hidden" name="paperNumber" value="{{ titleNumber }}">
                            </button>
                        {% else %}
                            <button class="likeButton" type="submit" style="padding: 0% ;background-color: #323232;" onclick="updateLike({{ titleNumber }})">
                                <i id="thumbs{{titleNumber}}" class="fa fa-thumbs-up" style="color:grey; font-size: 30px"></i>
                                <input type="text" id="{{ titleNumber }}" value="{{ paperLikeCount }}" class="thumbsuptext" name="likeCount" readonly/>
                                <input type="hidden" name="paperNumber" value="{{ titleNumber }}">
                            </button>
                        {% endif %}
                        <span class="listHitCount" style="color: white;font-size: 18px">{{ paperHitCount }} views</span>
                    </td>
                    <td class="savePapers" style="width: 5%; color: white">
                        {% csrf_token %}
                        {% if paperSaveButtonStatus == 1 %}
                            <button class="saveButton" type="submit" style="margin: auto;background-color: #323232 ;" onclick="updateSave({{ titleNumber }})">
                                <i id="savebutton{{titleNumber}}" class="fa fa-check-circle"  aria-hidden="true" style="color:white; font-size: 30px"></i>
                                <input type="hidden" name="paperNumber" value="{{ titleNumber }}">
                            </button>
                            <p>My List</p>
                        {% else %}
                            <button class="saveButton" type="submit" style="padding: 0% ;background-color: #323232;" onclick="updateSave({{ titleNumber }})">
                                <i id="savebutton{{titleNumber}}" class="fa fa-plus"  aria-hidden="true" style="color:white; font-size: 30px"></i>
                                <input type="hidden" name="paperNumber" value="{{ titleNumber }}">
                            </button>
                            <p>My List</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}

    <script src="{% static 'js/index_header.js' %}"></script>
    <script src="{% static 'package/js/swiper.min.js' %}"></script>
    <script>
        function search(){
            const query = document.getElementById("search_bar").value;
            document.getElementById("keywordDelivery").href = "searchresult?id="+query;
        }

    </script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            {#slidesPerView: 7,#}
            {#spaceBetween: 10,#}
            slidesPerGroup: 2,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // when window width is >= 320px
                200: {
                    slidesPerView: 4,
                    slidesPerColumnFill:'row',
                    spaceBetween: 4
                },
                // when window width is >= 480px
                600: {
                    slidesPerView: 5,
                    spaceBetween: 5
                },
                // when window width is >= 640px
                900: {
                    slidesPerView: 6,
                    spaceBetween: 6
                }
            }
        });
    </script>
    <script>
        function goBack() {
            var oldURL = document.referrer;
            var newURL = oldURL.substr(0, oldURL.length-new Date().getTime().toString().length);
            location.href=newURL+new Date().getTime();
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script>
        function updateLike(titleNumber){
            $.ajax({
                url:'post_like',
                type:'POST',
                data:{'paperNumber':titleNumber},
                dataType:'json',
                success: function(json) {
                    $('#'+titleNumber)[0].value =  json['likeCount'];
                    $('#thumbs'+titleNumber)[0].style.color =  json['likeButtonColor'];
                },
                error: function(err) {
                    alert("Failed to Retrieve JSON file from Server");
                }
            });
        }
    </script>
    <script>
        function updateSave(titleNumber){
            var savebuttonClass = document.getElementById("savebutton"+titleNumber).className;
            $.ajax({
                url:'post_save',
                type:'POST',
                data:{'paperNumber':titleNumber},
                dataType:'json',
                success: function(json) {
                    $('#savebutton'+titleNumber).removeClass(savebuttonClass);
                    $('#savebutton'+titleNumber).addClass(json['paperSaveButtonStatus']);
                },
                error: function(err) {
                    alert("Failed to Retrieve JSON file from Server");
                }
            });
        }
    </script>
    <script>
        function addComment(titleNumber, comment){
            $.ajax({
                url:'add_comment',
                type:'POST',
                data:{'paperNumber':titleNumber, 'comment':comment},
                dataType:'json',
                success: function(json) {
                    $('#comment_input')[0].value = '';
                    {#$('#commentList').replaceWith($("#commentList", json['arrayComments']))#}
                    commentIndex = json['lengthComments'];
                    commentAdded = json['commentAdded'];
                    $('.commentList').append("<p class=\"comment\" id=\"comment"+commentIndex+"\">"+commentAdded+"</p>");
                    var autoScroll = $('.commentList')
                    autoScroll.scrollTop(autoScroll.prop('scrollHeight'));
                }
            });
        }
    </script>

    <script>
        var vid = document.getElementById("vid");

        var loadStart = 0, loadFinish = 0, loadTime = 0;
        var timeStarted = -1;
        var timeStopped = 0;
        var timePlayed = 0;
        var loadDone = false;

        function videoStartedPlaying(event){
            console.log("Started Playing");
            timeStarted = new Date().getTime();
        }

        function videoStoppedPlaying(event){
            console.log("Stopped Playing");
            if(timeStarted < 0)
                return;
            timeStopped = new Date().getTime();
            newTime = timeStopped - timeStarted;
            timePlayed += newTime;
            console.log("added time: " + newTime + "ms");
            console.log("total time: " + timePlayed + "ms");
            timeStarted = -1;
        }

        function fLoadStart(){
            console.log("Load Start");
            loadStart = new Date().getTime();
        }

        function fLoadFinish(){
            if(loadDone === true)
                return;
            console.log("Load Finish");
            loadFinish = new Date().getTime();
            loadTime = loadFinish - loadStart;
            console.log("loadTime: " + loadTime + "ms");
            loadDone = true;
        }

        vid.addEventListener('loadstart', fLoadStart);
        vid.addEventListener('canplaythrough', fLoadFinish);

        vid.addEventListener('play', videoStartedPlaying);
        {#vid.addEventListener('playing', videoStartedPlaying);#}

        vid.addEventListener('ended', videoStoppedPlaying);
        vid.addEventListener('pause', videoStoppedPlaying);
    </script>
</div>
</body>
</html>
