<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : Episodes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <script src="https://s3-us-west-2.amazonaws.com/ieeeshutpages/gdpr/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise(json)
        });
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles1018.css' %}">
    <link rel="stylesheet" href="{% static 'css/paperimg0930.css' %}">
    <link rel="stylesheet" href="{% static 'css/episodeStyle1009.css' %}">

    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index_header1006.css' %}" />
    <script>
        function hitCounter(titleNumber){
            var mainHitcount = document.getElementById("mainHitCount");
            $.ajax({
                url:'post_hitcount',
                type:'POST',
                data:{'paperNumber':titleNumber},
                dataType:'json',
                success: function(json) {
                    {#alert("Title Hit Success")#}
                    {#mainHitcount.innerHTML = json['hitCount'] + ' views';#}
                },
                error: function(err) {
                    alert("Failed to Retrieve JSON file from Server");
                }
            });
        }
    </script>
</head>
<body onload="hitCounter({{ SelectedPaperNumber }})">
<div class="onDemandwidthControl">

    <nav style="background-color: rgba(0,0,0,0.7)" class="navbar navbar-expand-md navbar-dark fixed-top">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="main?id=technicalpaper">
            <img src="{% static './resources/logo.png'%}" width="150px"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="main?id=technicalpaper" style="color:white; ">Home</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbardrop" data-toggle="dropdown">
                        Entrance
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="main?id=technicalpaper">Technical Talks</a>
                        <a class="dropdown-item" href="main?id=wstr">Workshops and Tutorials</a>
                        <a class="dropdown-item" href="main?id=competition">Robot Competition</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mylist?id=1" onClick="this.href=this.href+'&'+new Date().getTime()" style="color:white;">My Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="color:white;">Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <form class="form-inline navbar-right">
                    <input type="text" id="search_bar" value="" class="searchBar" onkeydown="if(event.keyCode === 13) {event.preventDefault(); document.getElementById('searchBtn').click()}"/>
                    <d onclick="if(search_bar.value.length > 0)search()">
                        <a id = "keywordDelivery" href="javascript: void(0)">
                            <i id="searchBtn" class="fa fa-search" style="color:white;margin-left: 100%;font-size: 18px"></i>
                        </a>
                    </d>
                </form>
            </ul>

        </div>
    </nav>
    <div style="width:95%; margin:0 auto; padding-top: 50px;" align="justify">
        <p>&nbsp;</p>
        <button class="gobackButton" onclick="goBack()"><< Go Back</button>
        <span class="episodeDiv">
        <div class="episodeVid">
        <div id="videoSizeReader">
                <video id="vid" style="display:block; margin: 0 auto; width: 100%;" controls autoplay playsinline>
                    <source src="https://ras.papercept.net/proceedings/IROS20/{{ VideoList.0 }}" type="video/mp4">
                </video>
        </div>
            <h3 class="episodeTitle">Title : {{Title.0}}</h3>
        <center>
        <table class="episodeBtn" order="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 30%">
                    <scan id="mainHitCount" class="listHitCount" style="color: yellow;">{{ selectedpaperHitCount }} views</scan>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td style="width: 30%">
                    {% csrf_token %}
                    {% if selectedPaperLikeButtonColor == 1 %}
                        <button class="likeButton" type="submit" style="margin: auto;" onclick="updateLike({{ SelectedPaperNumber|floatformat:"0" }})">
                            <i id="thumbs{{SelectedPaperNumber|floatformat:"0"}}" class="fa fa-thumbs-up" style="color:yellow;"></i>
                            <input type="text" id="{{ SelectedPaperNumber|floatformat:"0" }}" value="{{ selectedPaperLikeCount }}" class="thumbsuptext" name="likeCount" readonly/>
                            <input type="hidden" name="paperNumber" value="{{ SelectedPaperNumber|floatformat:"0" }}">
                        </button>
                    {% else %}
                        <button class="likeButton" type="submit" style="padding: 0%" onclick="updateLike({{ SelectedPaperNumber|floatformat:"0" }})">
                            <i id="thumbs{{SelectedPaperNumber|floatformat:"0"}}" class="fa fa-thumbs-up" style="color:grey;"></i>
                            <input type="text" id="{{ SelectedPaperNumber|floatformat:"0" }}" value="{{ selectedPaperLikeCount }}" class="thumbsuptext" name="likeCount" readonly/>
                            <input type="hidden" name="paperNumber" value="{{ SelectedPaperNumber|floatformat:"0" }}">
                        </button>
                    {% endif %}
                </td>
                <td class="savePapers" style="color: white;width: 40%">
                    {% csrf_token %}
                    {% if selectedPaperbuttonStatus == 1 %}
                        <button class="saveButton" type="submit" style="margin: auto;background-color:transparent ;" onclick="updateSave({{ SelectedPaperNumber|floatformat:"0" }})">
                            <i id="savebutton{{SelectedPaperNumber|floatformat:"0"}}" class="fa fa-check-circle"  aria-hidden="true" style="color:white;vertical-align: top"></i>
                            <font id="buttonMessage{{SelectedPaperNumber|floatformat:"0"}}" style="color: white;">&nbsp;&nbsp;&nbsp;Added to my list</font>
                            <input type="hidden" name="paperNumber" value="{{ SelectedPaperNumber|floatformat:"0" }}">
                        </button>
                    {% else %}
                        <button class="saveButton" type="submit" style="padding: 0% ;background-color: transparent;" onclick="updateSave({{ SelectedPaperNumber|floatformat:"0" }})">
                            <i id="savebutton{{SelectedPaperNumber|floatformat:"0"}}" class="fa fa-plus"  aria-hidden="true" style="color:white;vertical-align: top"></i>
                            <font id="buttonMessage{{SelectedPaperNumber|floatformat:"0"}}" style="color: white;">&nbsp;&nbsp;&nbsp;Add to my List</font>
                            <input type="hidden" name="paperNumber" value="{{ SelectedPaperNumber|floatformat:"0" }}">
                        </button>
                    {% endif %}
                </td>
            </tr>
        </table>
        </center>
        </div>
           <div class="episodeCmt">
                {% csrf_token %}
                {% include './comment_list_beta.html' %}
            </div>
    </span>
        <p>&nbsp;</p>
        <h3 style="padding-bottom: 2%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; More talks like this : </h3>

        <div id="highlightModal" class="modal">
            {#        <span class="closeModal">&times;</span>#}
            <img class="modal-content" id="highlightModalImage">
            <div id="caption"></div>
        </div>

        {% for AuthorList1, AuthorList2, AuthorList3, AuthorList4,AuthorList5, AuthorList6, AffiliationList1,AffiliationList2,AffiliationList3,AffiliationList4,AffiliationList5,TitleList, PDFList, titleNumber, paperLikeCount,paperLikeButtonColor, SessionTitle, paperSaveButtonStatus, paperHitCount, awardeeCount, awardNameCount, Video in EpisodeContext %}

            <div class="epilisttable">
                <table border="0" cellpadding="0" cellspacing="0" style="background-color: #323232;border-radius: 10px" >
                    <tr>
                        <td class="epilisttableleft">
                            {% if titleNumber < 100 %}
                                <img id="paperHighlight" onError="this.onerror=null;this.src='{% static './resources/logo2.png' %}';" src="{% static './img/IROS20_Digest' %}/00{{ titleNumber|floatformat:"0" }}_PPT.JPG" onclick="highlightClicked(this.src)">
                            {% elif titleNumber >= 100 and titleNumber < 1000 %}
                                <img id="paperHighlight" onError="this.onerror=null;this.src='{% static './resources/logo2.png' %}';" src="{% static './img/IROS20_Digest' %}/0{{ titleNumber|floatformat:"0" }}_PPT.JPG" onclick="highlightClicked(this.src)">
                            {% elif titleNumber >= 1000 %}
                                <img id="paperHighlight" onError="this.onerror=null;this.src='{% static './resources/logo2.png' %}';" src="{% static './img/IROS20_Digest' %}/{{ titleNumber|floatformat:"0" }}_PPT.JPG" onclick="highlightClicked(this.src)">
                            {% endif %}
                            Click image to zoom-in &nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus" style="vertical-align: middle"></i>
                        </td>
                        <td valign="top" align="left" class="epilisttableright">
                            {% if awardeeCount == 1 %}
                                <p class="awardpapertitle">Nominated to {{ awardNameCount }} &#10030;</p>
                            {% else %}
                            {% endif %}
                            <p class="papertitle" style="color: white;">{{ TitleList }}</p>
                            <table class="paperInfo" border="0" cellpadding="0" cellspacing="0" width="100% "style="background-color: #323232; text-align: left;color: white;">
                                <tbody>
                                <tr>
                                    <td style="width: 40%;"><u>Author</u></th>
                                    <td><u>Affiliation</u></th>
                                </tr>
                                {% if AuthorList1 == 'missing' %}
                                    &nbsp;
                                {% else %}
                                    <tr>
                                        <td style="width: 40%">{{ AuthorList1 }}</td>
                                        <td>{{ AffiliationList1 }}</td>
                                    </tr>
                                {% endif %}
                                {% if AuthorList2 == 'missing' %}
                                    &nbsp;
                                {% else %}
                                    <tr>
                                        <td style="width: 40%">{{ AuthorList2 }}</td>
                                        <td>{{ AffiliationList2 }}</td>
                                    </tr>
                                {% endif %}
                                {% if AuthorList3 == 'missing' %}
                                    &nbsp;
                                {% else %}
                                    <tr>
                                        <td style="width: 40%">{{ AuthorList3 }}</td>
                                        <td>{{ AffiliationList3 }}</td>
                                    </tr>
                                {% endif %}
                                {% if AuthorList4 == 'missing' %}
                                    &nbsp;
                                {% else %}
                                    <tr>

                                        <td style="width: 40%">{{ AuthorList4|default_if_none:"" }}</td>
                                        <td>{{ AffiliationList4|default_if_none:"" }}</td>
                                    </tr>
                                {% endif %}
                                {% if AuthorList5 == 'missing' %}
                                    &nbsp;
                                {% else %}
                                    <tr>
                                        <td style="width: 40%">{{ AuthorList5 }}</td>
                                        <td>{{ AffiliationList5 }}</td>
                                    </tr>
                                {% endif %}
                                {% if AuthorList6 == 'missing' %}
                                    &nbsp;
                                {% else %}
                                    <tr>
                                        <td style="width: 40%"><i style="font-size: 100%">Et al</i></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                            <br>
                            {% if Video != 'missing'%}
                                <div style="color: white;">
                                    {% csrf_token %}
                                    {% if paperSaveButtonStatus == 1 %}
                                        <button class="saveButton" type="submit" style="margin: auto;background-color: #323232; color: white" onclick="updateSave({{ titleNumber|floatformat:"0" }})">
                                            <i id="savebutton{{titleNumber|floatformat:"0"}}" class="fa fa-check-circle"  aria-hidden="true" style="color:white; font-size: 30px;vertical-align: top"></i>
                                            <font id="buttonMessage{{titleNumber|floatformat:"0"}}" style="color: white;">&nbsp;&nbsp;&nbsp;Added to my List</font>
                                            <input type="hidden" name="paperNumber" value="{{ titleNumber|floatformat:"0" }}">
                                        </button>
                                    {% else %}
                                        <button class="saveButton" type="submit" style="padding: 0% ;background-color: #323232;" onclick="updateSave({{ titleNumber|floatformat:"0" }})">
                                            <i id="savebutton{{titleNumber|floatformat:"0"}}" class="fa fa-plus"  aria-hidden="true" style="color:white; font-size: 30px;vertical-align: top"></i>
                                            <font id="buttonMessage{{titleNumber|floatformat:"0"}}" style="color: white;">&nbsp;&nbsp;&nbsp;Add to my List</font>
                                            <input type="hidden" name="paperNumber" value="{{ titleNumber|floatformat:"0" }}">
                                        </button>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <br>
                            <div>
                                {% if Video == 'missing'%}
                                    <div class="videoPlayButton">
                                        <div class="videoPlayButtonText">No Video Available
                                        </div>
                                    </div>
                                {% else %}
                                    <a style="text-decoration: none" href="episode?id={{titleNumber|floatformat:"0"}}&id2={{ SessionTitle }}" onClick="this.href=this.href+'&'+new Date().getTime()">
                                        <div class="videoPlayButton">
                                            <div class="videoPlayButtonIcon">
                                                <i class="fa fa-play-circle" style="vertical-align: middle;"></i>
                                            </div>
                                            <div class="videoPlayButtonText">Watch Now
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                                <div class="pdfopenButton">
                                    {% if PDFList == 'missing' %}
                                        <p style="color: lawngreen;">No PDF files</p>
                                    {% else %}
                                        <p><a href="https://ras.papercept.net/proceedings/IROS20/{{ PDFList }}" target="_blank" style="color: lawngreen;"> Open PDF files</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <br>
                            {% if Video != 'missing'%}
                                <div class="paperlikeviewcountdiv">
                                    {% if paperLikeButtonColor == 1 %}
                                        <button class="likeButton" type="submit" style="margin: auto;background-color: #323232 ;" onclick="updateLike({{ titleNumber|floatformat:"0" }})">
                                            <i id="thumbs{{titleNumber|floatformat:"0"}}" class="fa fa-thumbs-up" style="color:yellow;"></i>
                                            <input type="text" id="{{ titleNumber|floatformat:"0" }}" value="{{ paperLikeCount }}" class="thumbsuptext" name="likeCount" readonly/>
                                            <input type="hidden" name="paperNumber" value="{{ titleNumber|floatformat:"0" }}">
                                        </button>
                                    {% else %}
                                        <button class="likeButton" type="submit" style="padding: 0% ;background-color: #323232;" onclick="updateLike({{ titleNumber|floatformat:"0" }})">
                                            <i id="thumbs{{titleNumber|floatformat:"0"}}" class="fa fa-thumbs-up" style="color:grey;"></i>
                                            <input type="text" id="{{ titleNumber|floatformat:"0" }}" value="{{ paperLikeCount }}" class="thumbsuptext" name="likeCount" readonly/>
                                            <input type="hidden" name="paperNumber" value="{{ titleNumber|floatformat:"0" }}">
                                        </button>
                                    {% endif %}
                                    <span class="listHitCount">{{ paperHitCount }} views</span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}

        <script src="{% static 'package/js/swiper.min.js' %}"></script>
        <script>
            function search(){
                const query = document.getElementById("search_bar").value;
                document.getElementById("keywordDelivery").href = "searchresult?id2=1&id="+query;
            }
        </script>

        <script>
            function goBack() {
                {#var oldURL = document.referrer;#}
                {#var newURL = oldURL.substr(0, oldURL.length-new Date().getTime().toString().length);#}
                location.href=document.referrer;
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script>
            function updateLike(titleNumber){
                var currLikeCount= parseInt($('#'+titleNumber)[0].value,10);
                var currLikeColor =$('#thumbs'+titleNumber)[0].style.color;

                if(currLikeColor == 'yellow'){
                    $('#'+titleNumber)[0].value = currLikeCount -1;
                    $('#thumbs'+titleNumber)[0].style.color =  'grey';
                }else{

                    $('#'+titleNumber)[0].value = currLikeCount + 1;
                    $('#thumbs'+titleNumber)[0].style.color =  'yellow';
                }
                $.ajax({
                    url:'post_like',
                    type:'POST',
                    data:{'paperNumber':titleNumber},
                    dataType:'json',
                    success: function(json) {
                        {#$('#'+titleNumber)[0].value =  json['likeCount'];#}
                        {#$('#thumbs'+titleNumber)[0].style.color =  json['likeButtonColor'];#}
                    },
                    error: function(err) {
                        alert("Failed to Retrieve JSON file from Server");
                    }
                });
            }
        </script>
        <script>
            function updateSave(titleNumber){
                var savebuttonClass = document.getElementById("savebutton"+titleNumber).className;
                if(savebuttonClass == 'fa fa-plus'){
                    $('#savebutton'+titleNumber).removeClass(savebuttonClass);
                    $('#savebutton'+titleNumber).addClass('fa fa-check-circle');
                    $('#buttonMessage'+titleNumber).html('&nbsp;&nbsp;&nbsp;Added to my list')
                }else{
                    $('#savebutton'+titleNumber).removeClass(savebuttonClass);
                    $('#savebutton'+titleNumber).addClass('fa fa-plus');
                    $('#buttonMessage'+titleNumber).html('&nbsp;&nbsp;&nbsp;Add to my list')
                }
                $.ajax({
                    url:'post_save',
                    type:'POST',
                    data:{'paperNumber':titleNumber},
                    dataType:'json',
                    success: function(json) {
                        {#$('#savebutton'+titleNumber).removeClass(savebuttonClass);#}
                        {#$('#savebutton'+titleNumber).addClass(json['paperSaveButtonStatus']);#}
                        {#$('#buttonMessage'+titleNumber).html('&nbsp;&nbsp;&nbsp;'+json['buttonMessage'])#}
                    },
                    error: function(err) {
                        alert("Failed to Retrieve JSON file from Server");
                    }
                });
            }
        </script>
        <script>
            function addComment(titleNumber, comment){
                $.ajax({
                    url:'add_comment',
                    type:'POST',
                    data:{'paperNumber':titleNumber, 'comment':comment},
                    dataType:'json',
                    success: function(json) {
                        $('#comment_input')[0].value = '';
                        {#$('#commentList').replaceWith($("#commentList", json['arrayComments']))#}
                        commentIndex = json['lengthComments'];
                        commentAdded = json['commentAdded'];
                        $('.commentList').append("<p class=\"comment\" id=\"comment"+commentIndex+"\">"+commentAdded+"</p>");
                        var autoScroll = $('.commentList')
                        autoScroll.scrollTop(autoScroll.prop('scrollHeight'));
                    }
                });
            }
        </script>

        <script>
            var vid = document.getElementById("vid");

            var loadStart = 0, loadFinish = 0, loadTime = 0;
            var timeStarted = -1;
            var timeStopped = 0;
            var timePlayed = 0;
            var loadDone = false;

            function videoStartedPlaying(event){
                console.log("Started Playing");
                timeStarted = new Date().getTime();
            }

            function videoStoppedPlaying(event){
                console.log("Stopped Playing");
                if(timeStarted < 0)
                    return;
                timeStopped = new Date().getTime();
                newTime = timeStopped - timeStarted;
                timePlayed += newTime;
                console.log("added time: " + newTime + "ms");
                console.log("total time: " + timePlayed + "ms");
                timeStarted = -1;
            }

            function fLoadStart(){
                console.log("Load Start");
                loadStart = new Date().getTime();
            }

            function fLoadFinish(){
                if(loadDone === true)
                    return;
                console.log("Load Finish");
                loadFinish = new Date().getTime();
                loadTime = loadFinish - loadStart;
                console.log("loadTime: " + loadTime + "ms");
                loadDone = true;
            }

            vid.addEventListener('loadstart', fLoadStart);
            vid.addEventListener('canplaythrough', fLoadFinish);

            vid.addEventListener('play', videoStartedPlaying);
            {#vid.addEventListener('playing', videoStartedPlaying);#}

            vid.addEventListener('ended', videoStoppedPlaying);
            vid.addEventListener('pause', videoStoppedPlaying);

            function catch_backpress(){
                console.log("Catching Backpress");
                if(timeStarted < 0)
                    return;
                if(loadTime > 100000)
                    loadTime = 0;
                timeStopped = new Date().getTime();
                newTime = timeStopped - timeStarted - loadTime;
                timePlayed += newTime;
                console.log("added time: " + newTime + "ms");
                console.log("total time: " + timePlayed + "ms");
                timeStarted = -1;
            }
        </script>

        <script>
            function update_playtime(titleNumber) {
                $.ajax({
                    url: 'update_playtime',
                    type: 'POST',
                    data: {
                        'paperNumber': titleNumber,
                        'time': timePlayed,
                    },
                    dataType: 'json',
                    success: function (json) {
                        console.log("successfully updated video playtime: " + json['total_time'] + " seconds");
                    },
                    error: function (err) {
                        alert("Failed to Retrieve JSON file from Server");
                    }
                });
            }
        </script>
        <script>
            // Get the modal
            var modal = document.getElementById("highlightModal");
            var modalImg = document.getElementById("highlightModalImage");
            var captionText = document.getElementById("caption");

            {#var span = document.getElementsByClassName("closeModal")[0];#}

            // When the user clicks on <span> (x), close the modal
            modalImg.onclick = function() {
                modal.style.display = "none";
            }

        </script>
        <script>
            function highlightClicked(src){
                modal.style.display = "block";
                modalImg.src = src;
                captionText.innerHTML = "Tap on the image to close";
            }
        </script>
        <script>
            window.addEventListener( "pageshow", function ( event ) {
                var historyTraversal = event.persisted ||
                    ( typeof window.performance != "undefined" &&
                        window.performance.navigation.type === 2 );
                if ( historyTraversal ) {
                    // Handle page restore.
                    window.location.reload();
                    console.log('save my ass')
                }
            });
        </script>
        <script>
            var v = document.getElementById("vid");
            var width,height;
            var episodeComment = document.getElementById("commentbox");
            v.addEventListener( "loadedmetadata", function (e) {
                var result = $("#videoSizeReader").css('height');
                episodeComment.style.height = result;
                console.log(result);
            }, false );

        </script>
        <script>
            window.addEventListener("beforeunload", function(event){
                console.log("Updating Vid Playtime"+" {{ SelectedPaperNumber }}");
                catch_backpress();
                update_playtime("{{ SelectedPaperNumber|floatformat:"0" }}");
            });
        </script>
    </div>
</div>
</body>
</html>
