<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : My Lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <script src="https://s3-us-west-2.amazonaws.com/ieeeshutpages/gdpr/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise(json)
        });
    </script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles0921.css' %}">
    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index_land0717.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index_header0921.css' %}" />

</head>
<body>

<header>
    <div class="logo">
        <a href="entrance">
            <img src="{% static './resources/logo.png'%}"/>
        </a>
        <button class="header-toggleBtn"><i class="fa fa-bars"></i></button>
    </div>

    <ul class="categories">
        <li class="category category1"><a href="entrance" style="color:white; text-decoration: none;">Home</a></li>
        <li class="category category2"><a href="mylist?" onClick="this.href=this.href.split('?')[0]+'?'+new Date().getTime()" style="color:white; text-decoration: none;">My Lists</a></li>
        <li class="category category3"><a href="logout" style="color:white; text-decoration: none;">Logout</a></li>
    </ul>

    <ul class="search_notice_info">
        <form>
            <input type="text" id="search_bar" value="" class="searchBar" onkeydown="if(event.keyCode === 13) {event.preventDefault(); document.getElementById('searchBtn').click()}"/>
            <d onclick="search()">
                <a id = "keywordDelivery" href="">
                    <i id="searchBtn" class="fa fa-search" style="color:white;"></i>
                </a>
            </d>
        </form>
    </ul>
</header>

<div style="width:95%; margin:0 auto; padding-top: 8%;" align="justify">

    {% if mylistSpecialNumber == 0 and  mylistWorkshopsNumber == 0 and mylistEpisodeNumber == 0 %}
        <h3>&nbsp;&nbsp;My Lists is empty</h3>
    {% endif %}

    {% if mylistSpecialNumber == 0 %}
    {% else %}
        <h3>&nbsp;&nbsp;My Lists : Specials</h3>
        <div style="width: 100%; padding-bottom: 2%; display: inline-flex; flex-wrap: wrap">
            {% for mylistSpecialSpeaker, mylistSpecialSpecial, mylistSpecialGenre in mylistSpecialContext %}
                <div style="position: relative; border-style: solid; border-color: white;margin: 1%;width: 22%; display:inline-block;">
                    <a href="specialsepisode?id={{mylistSpecialSpeaker}}&id2={{ mylistSpecialSpecial }}&id3={{ mylistSpecialGenre }}" onClick="this.href=this.href+'&'+new Date().getTime()">
                        <img src="{% static './resources/playlogo.png'%}" width="100%"></a>
                    <div style="position: absolute; z-index: 1;color: white; bottom: 0; text-align: center; font-size: 100%; background-color: rgba(0,0,0,0.7); width: 100%">
                        <p>{{ mylistSpecialSpecial}} : {{ mylistSpecialSpeaker }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if mylistWorkshopsNumber == 0 %}
    {% else %}
        <h3>&nbsp;&nbsp;My Lists : Workshops</h3>
        <div style="width: 100%; padding-bottom: 2%; display: inline-flex; flex-wrap: wrap">
            {% for mylistWorkshopsSpeaker, mylistWorkshopsWorkshop, mylistWorkshopsGenre, mylistWorkshopsSpeakerNumber, mylistWorkshopsTalkTitle in mylistWorkshopsContext %}
                <div style="position: relative; border-style: solid; border-color: white; margin: 1%;width: 22%;; display:inline-flex;">
                    <a href="workshopsepisode?id={{mylistWorkshopsSpeaker}}&id2={{ mylistWorkshopsWorkshop }}&id3={{ mylistWorkshopsGenre }}&id4={{ mylistWorkshopsSpeakerNumber }}" onClick="this.href=this.href+'&'+new Date().getTime()">
                        <img src="{% static './resources/playlogo.png'%}" width="100%"></a>
                    <div style="position: absolute; z-index: 1;color: white; bottom: 0; text-align: center; font-size: 100%; background-color: rgba(0,0,0,0.7); width: 100%">
                        <p>{{ mylistWorkshopsTalkTitle }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if mylistEpisodeNumber == 0 %}
    {% else %}
        <h3>&nbsp;&nbsp;My Lists : Episodes</h3>
        <div style="width: 100%; padding-bottom: 2%; display: inline-flex; flex-wrap: wrap">
            {% for mylistEpisodeTitle, mylistEpisodeSession in mylistEpisodeContext %}
                <div style="position: relative; border-style: solid; border-color: white;margin: 1%;width: 22%; display:inline-flex;">
                    <a href="episode?id={{mylistEpisodeTitle}}&id2={{ mylistEpisodeSession }}" onClick="this.href=this.href+'&'+new Date().getTime()">
                        <img src="{% static './resources/playlogo.png'%}" width="100%"></a>
                    <div style="position: absolute; z-index: 1;color: white; bottom: 0; text-align: center; font-size: 100%; background-color: rgba(0,0,0,0.7); width: 100%">
                        <p>{{ mylistEpisodeTitle }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>

<script src="{% static 'js/index_header.js' %}"></script>
<script src="{% static 'package/js/swiper.min.js' %}"></script>

<script>
    function search(){
        const query = document.getElementById("search_bar").value;
        document.getElementById("keywordDelivery").href = "searchresult?id="+query;
    }

</script>
<script>
    var swiper = new Swiper('.swiper-container', {
        {#slidesPerView: 7,#}
        {#spaceBetween: 10,#}
        slidesPerGroup: 2,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            // when window width is >= 320px
            200: {
                slidesPerView: 4,
                slidesPerColumnFill:'row',
                spaceBetween: 4
            },
            // when window width is >= 480px
            600: {
                slidesPerView: 5,
                spaceBetween: 5
            },
            // when window width is >= 640px
            900: {
                slidesPerView: 6,
                spaceBetween: 6
            }
        }
    });
</script>

</body>
</html>
