<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IROS 2020 On-Demand : Search Failed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'package/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles0717-2.css' %}">
    <script
            src="https://kit.fontawesome.com/7541329784.js"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index_land0717.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index_header0717.css' %}" />

</head>
<body>

<header>
    <div class="logo">
        <a href="./">
            <img src="{% static './resources/logo.png'%}"/>
        </a>
        <button class="header-toggleBtn"><i class="fa fa-bars"></i></button>
    </div>

    <ul class="categories">

        <li class="category category1"><a href="./" style="color:white; text-decoration: none;">Home</a></li>
        <li class="category category2">My Lists</li>
        <li class="category category3">Recently Added</li>
    </ul>

    <ul class="search_notice_info">
        <form>
            <input type="text" id="search_bar" value="" class="searchBar" onkeydown="if(event.keyCode === 13) {event.preventDefault(); document.getElementById('searchBtn').click()}"/>
            <d onclick="search()">
                <a id = "keywordDelivery" href="">
                    <i id="searchBtn" class="fa fa-search" style="font-size:25px;color:white;"></i>
                </a>
            </d>
        </form>
        <li class="info"><i class="fa fa-user"></i></li>
    </ul>

</header>

<div style="width:95%; margin:0 auto; padding-top: 12%;" align="justify">
    <h3>&nbsp;&nbsp;Search Results : Not Found </h3>
    <p>&nbsp;</p>

    <h3>&nbsp;&nbsp;Your Search for "{{ inputKeyword }}" did not have any matches </h3>
    <h3>&nbsp;&nbsp;Try different keywords </h3>



<script src="{% static 'js/index_header.js' %}"></script>
<script src="{% static 'package/js/swiper.min.js' %}"></script>
<script>
    function search(){
        const query = document.getElementById("search_bar").value;
        document.getElementById("keywordDelivery").href = "searchresult?id="+query;
    }

</script>
<!-- Initialize Swiper -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{#<script>#}
{#    $(document).ready(function(){#}
{#        var nowPlaying = "none";#}
{##}
{#        $('div').hover(function(){#}
{#            nowPlaying = $(this).find('iframe').attr('src');#}
{#            $(this).find('iframe').attr('src',nowPlaying+'&autoplay=1');#}
{#        }, function(){#}
{#            $(this).find('iframe').attr('src',nowPlaying);#}
{#        });#}
{#    });#}
{#</script>#}
<script>
    $(document).ready(function() {

        var vid = $("video").get(0);

        $("video").on("mouseenter",function(){
            vid.play();
        });

        $("video").on("mouseleave",function(){
            vid.pause();
        });

    });
</script>

</div>
</body>
</html>
